Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Refactor Supabase client re-export (#52)
  lib/supabaseClient.ts
  types/supabase.ts
Due: eslint --fix

Handle missing session token in authHeaders (#51)
  lib/supabaseBrowser.ts
  tests/lib/supabaseBrowser.test.ts
Due: eslint --fix

Cache Supabase browser client globally (#50)
  lib/supabaseBrowser.ts
Due: eslint --fix

Use Supabase browser client instance for sign out (#49)
  lib/auth/signOut.ts
Due: eslint --fix

Set PremiumExamPage as default export
  pages/premium/PremiumExamPage.tsx
Due: eslint --fix

Update locale imports and state handling
  components/common/LocaleSwitcher.tsx
  pages/settings/language.tsx
Due: eslint --fix

Ensure locale switcher loads supported translations
  components/common/LocaleSwitcher.tsx
  tests/lib/locale-switcher.test.ts
Due: eslint --fix

feat: allow overriding locale switcher label
  components/common/LocaleSwitcher.tsx
Due: eslint --fix

Update locale imports and state handling (#55)
  components/common/LocaleSwitcher.tsx
  pages/settings/language.tsx
Due: eslint --fix

Set PremiumExamPage as default export (#54)
  pages/premium/PremiumExamPage.tsx
Due: eslint --fix

feat: allow overriding locale switcher label (#57)
  components/common/LocaleSwitcher.tsx
Due: eslint --fix

Ensure locale switcher loads supported translations (#56)
  components/common/LocaleSwitcher.tsx
  tests/lib/locale-switcher.test.ts
Due: eslint --fix

Add helper to map Supabase user to navigation user
  components/Header.tsx
Due: eslint --fix

Add helper to map Supabase user to navigation user (#58)
  components/Header.tsx
Due: eslint --fix

Premium upgradation
  .history/pages/premium/PremiumExamPage_20251004031436.tsx
  .history/pages/premium/PremiumExamPage_20251004031437.tsx
  .history/pages/premium/PremiumExamPage_20251004031439.tsx
  .history/pages/premium/PremiumExamPage_20251004032130.tsx
  .history/pages/premium/PremiumExamPage_20251004033225.tsx
  .history/pages/premium/PremiumExamPage_20251004033226.tsx
  .history/premium-ui/access/PremiumRoom_20251004031553.tsx
  .history/premium-ui/exam/ExamShell_20250915113749.tsx
  .history/premium-ui/exam/ExamShell_20251004031508.tsx
  .history/premium-ui/exam/MediaDock_20250915113749.tsx
  .history/premium-ui/exam/MediaDock_20251004031531.tsx
  .history/premium-ui/exam/Scratchpad_20250915113749.tsx
  .history/premium-ui/exam/Scratchpad_20251004031522.tsx
  .history/premium-ui/exam/Scratchpad_20251004031523.tsx
  public/premium.css
Due: prettier --write

Premium upgradation
  pages/premium/PremiumExamPage.tsx
  premium-ui/access/PremiumRoom.tsx
  premium-ui/exam/ExamShell.tsx
  premium-ui/exam/MediaDock.tsx
  premium-ui/exam/Scratchpad.tsx
  public/premium.css
Due: eslint --fix, prettier --write

Phase_1_Done, Now start segregation
  components/auth/AuthOptions.tsx
  lib/locale.ts
  middleware.ts
  pages/_app.tsx
  pages/premium/pin.tsx
  premium-ui/theme/LuxBackdrop.tsx
  project-tree.txt
  public/premium.css
Due: eslint --fix, prettier --write

Phase_1_Done, Now start segregation
  .history/components/auth/AuthOptions_20251003234134.tsx
  .history/components/auth/AuthOptions_20251004044024.tsx
  .history/components/auth/AuthOptions_20251004044025.tsx
  .history/components/auth/AuthOptions_20251004044111.tsx
  .history/components/auth/AuthOptions_20251004044112.tsx
  .history/components/auth/AuthOptions_20251004044124.tsx
  .history/components/auth/AuthOptions_20251004044155.tsx
  .history/components/auth/AuthOptions_20251004044156.tsx
  .history/components/auth/AuthOptions_20251004044213.tsx
  .history/components/auth/AuthOptions_20251004044214.tsx
  .history/lib/locale_20250915113749.ts
  .history/lib/locale_20251004035830.ts
  .history/middleware_20251004042958.ts
  .history/middleware_20251004042959.ts
  .history/pages/_app_20251004035804.tsx
  .history/pages/_app_20251004041615.tsx
  .history/pages/_app_20251004041655.tsx
  .history/pages/premium/pin_20251004042257.tsx
  .history/pages/premium/pin_20251004042258.tsx
  .history/pages/premium/pin_20251004044714.tsx
  .history/pages/premium/pin_20251004045353.tsx
  .history/pages/premium/pin_20251004045354.tsx
  .history/pages/premium/pin_20251004045951.tsx
  .history/pages/premium/pin_20251004045952.tsx
  .history/pages/premium/pin_20251004050247.tsx
  .history/pages/premium/pin_20251004050257.tsx
  .history/premium-ui/theme/LuxBackdrop_20251004051406.tsx
  .history/premium-ui/theme/LuxBackdrop_20251004051412.tsx
  premium-ui/theme/LuxBackdrop.tsx
  project-tree.txt
  public/premium.css
Due: prettier --write

Update the errors regarding the subscription
  lib/locale.ts
Due: eslint --fix

Fix Vercel build: alias @supabase/ssr to shim in next.config.mjs; remove CJS config
  next.config.js
  next.config.mjs
Due: none

Alias '@supabase/ssr' to local shim; remove duplicate next.config.js
  from
  lib/locale.tsx
  lib/supabaseSSR.ts
  package-lock.json
  pages/_app.tsx
  pages/signup/verify.tsx
  shims/auth-helpers-nextjs.ts
  shims/ssr.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Alias '@supabase/ssr' to local shim; remove duplicate next.config.js
  .history/next.config_20251007022110.mjs
  .history/next.config_20251007022111.mjs
  .history/pages/_app_20251007020536.tsx
  .history/pages/_app_20251007020537.tsx
  .history/pages/signup/verify_20251006231340.tsx
  .history/pages/signup/verify_20251006231341.tsx
  .history/pages/signup/verify_20251006231344.tsx
  from
  lib/locale.tsx
  lib/supabaseSSR.ts
  package-lock.json
  shims/auth-helpers-nextjs.ts
  shims/ssr.ts
  tsconfig.json
Due: eslint --fix, prettier --write
