Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Fix trigger creation in vocab phase 3b migration (#264) (#267)
  supabase/migrations/20251120_vocab_phase3b_skills.sql
Due: none

Add vocabulary module pages and components
  components/design-system/Heading.tsx
  components/design-system/Separator.tsx
  components/design-system/index.ts
  components/vocab/Filters.tsx
  components/vocab/PronunciationBar.tsx
  components/vocab/SenseList.tsx
  components/vocab/WordCard.tsx
  lib/db/api.ts
  lib/hooks/useInfiniteQuery.ts
  pages/admin/vocabulary/new-sense.tsx
  pages/vocabulary/[word].tsx
  pages/vocabulary/index.tsx
  types/vocabulary.ts
Due: eslint --fix

Make vocabulary word cards link the entire card
  components/vocab/WordCard.tsx
Due: eslint --fix

Add vocabulary API backed by generated word data
  lib/vocabulary/data.ts
  pages/api/vocabulary/[slug].ts
  pages/api/vocabulary/index.ts
Due: eslint --fix

Expose vocabulary preview for guests
  components/auth/AuthOptions.tsx
  components/sections/Modules.tsx
  eslint.config.mjs
  lib/routeAccess.ts
  pages/signup/email.tsx
  pages/signup/verify.tsx
Due: eslint --fix

Update launch countdown date
  lib/config/launchDate.ts
Due: eslint --fix

Add vocabulary module pages and components (#268)
  components/auth/AuthOptions.tsx
  components/design-system/Heading.tsx
  components/design-system/Separator.tsx
  components/design-system/index.ts
  components/sections/Modules.tsx
  components/vocab/Filters.tsx
  components/vocab/PronunciationBar.tsx
  components/vocab/SenseList.tsx
  components/vocab/WordCard.tsx
  eslint.config.mjs
  lib/config/launchDate.ts
  lib/db/api.ts
  lib/hooks/useInfiniteQuery.ts
  lib/routeAccess.ts
  lib/vocabulary/data.ts
  pages/admin/vocabulary/new-sense.tsx
  pages/api/vocabulary/[slug].ts
  pages/api/vocabulary/index.ts
  pages/signup/email.tsx
  pages/signup/verify.tsx
  pages/vocabulary/[word].tsx
  pages/vocabulary/index.tsx
  types/vocabulary.ts
Due: eslint --fix

Add engaging vocabulary highlights experience
  components/vocab/Highlights.tsx
  pages/api/vocabulary/highlights.ts
Due: eslint --fix

Add engaging vocabulary highlights experience (#269)
  components/vocab/Highlights.tsx
  pages/api/vocabulary/highlights.ts
Due: eslint --fix

Implement vocab APIs and word reveal page
  components/vocab/WordReveal.tsx
  docs/db/word_of_day.md
  lib/vocabulary/today.ts
  pages/api/vocab/attempt/meaning.ts
  pages/api/vocab/attempt/sentence.ts
  pages/api/vocab/attempt/synonyms.ts
  pages/api/vocab/leaderboard.ts
  pages/api/vocab/today.ts
  pages/vocab/index.tsx
  supabase/migrations/20260315_daily_words_guardrails.sql
  supabase/migrations/20260316_word_of_day_hardening.sql
  supabase/migrations/20260317_xp_events.sql
  supabase/seed/vocab_rotation.sql
Due: eslint --fix, prettier --write

Document environment setup
  .env.example
  README.md
  docs/setup/environment.md
Due: prettier --write

Add interactive vocabulary practice flows
  components/vocab/MeaningQuiz.tsx
  components/vocab/RewardsPanel.tsx
  components/vocab/SentencePractice.tsx
  components/vocab/SynonymRush.tsx
  lib/vocabulary/ritual.ts
  pages/vocab/index.tsx
Due: eslint --fix

Refine vocab XP rules and accessibility
  components/vocab/MeaningQuiz.tsx
  components/vocab/RewardsPanel.tsx
  components/vocab/SentencePractice.tsx
  components/vocab/SynonymRush.tsx
  components/vocab/WordReveal.tsx
  docs/analytics/vocabulary.md
  hooks/usePrefersReducedMotion.ts
  lib/analytics/events.ts
  lib/analytics/success-metrics.ts
  lib/gamification/xp.ts
  pages/api/analytics/success-metrics.ts
  pages/api/vocab/attempt/meaning.ts
  pages/api/vocab/attempt/sentence.ts
  pages/api/vocab/attempt/synonyms.ts
  pages/api/vocab/today.ts
  pages/vocab/index.tsx
  stories/vocab/MeaningQuiz.stories.tsx
  stories/vocab/RewardsPanel.stories.tsx
  stories/vocab/SentencePractice.stories.tsx
  stories/vocab/WordReveal.stories.tsx
  stories/vocab/_fixtures.ts
  tests/e2e/vocab.spec.ts
  tests/lib/gamification.xp.test.ts
Due: eslint --fix, prettier --write

Implement vocab APIs and word reveal page (#270)
  .env.example
  README.md
  components/vocab/MeaningQuiz.tsx
  components/vocab/RewardsPanel.tsx
  components/vocab/SentencePractice.tsx
  components/vocab/SynonymRush.tsx
  components/vocab/WordReveal.tsx
  docs/analytics/vocabulary.md
  docs/db/word_of_day.md
  docs/setup/environment.md
  hooks/usePrefersReducedMotion.ts
  lib/analytics/events.ts
  lib/analytics/success-metrics.ts
  lib/gamification/xp.ts
  lib/vocabulary/ritual.ts
  lib/vocabulary/today.ts
  pages/api/analytics/success-metrics.ts
  pages/api/vocab/attempt/meaning.ts
  pages/api/vocab/attempt/sentence.ts
  pages/api/vocab/attempt/synonyms.ts
  pages/api/vocab/leaderboard.ts
  pages/api/vocab/today.ts
  pages/vocab/index.tsx
  stories/vocab/MeaningQuiz.stories.tsx
  stories/vocab/RewardsPanel.stories.tsx
  stories/vocab/SentencePractice.stories.tsx
  stories/vocab/WordReveal.stories.tsx
  stories/vocab/_fixtures.ts
  supabase/migrations/20260315_daily_words_guardrails.sql
  supabase/migrations/20260316_word_of_day_hardening.sql
  supabase/migrations/20260317_xp_events.sql
  supabase/seed/vocab_rotation.sql
  tests/e2e/vocab.spec.ts
  tests/lib/gamification.xp.test.ts
Due: eslint --fix, prettier --write

Fix lint errors for recorder and mock state
  components/speaking/Recorder.tsx
  lib/mock/state.ts
Due: eslint --fix

Fix lint errors for recorder and mock state (#271)
  components/speaking/Recorder.tsx
  lib/mock/state.ts
Due: eslint --fix

feat(home): add typed home props contract
  lib/home/index.ts
  pages/index.tsx
  types/home.ts
Due: eslint --fix

feat(home): add typed home props contract (#272)
  lib/home/index.ts
  pages/index.tsx
  types/home.ts
Due: eslint --fix

Add global route loading overlay
  components/common/RouteLoadingOverlay.tsx
  pages/_app.tsx
Due: eslint --fix

Add global route loading overlay (#273)
  components/common/RouteLoadingOverlay.tsx
  pages/_app.tsx
Due: eslint --fix

Add vocabulary module section to home page
  components/sections/VocabularyFeature.tsx
  pages/index.tsx
Due: eslint --fix
