Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: add domain boundary map for overloaded profiles (Phase 1 Task 1) (#16)
  components/entitlements/TierGuard.tsx
  features/profile/setup/ProfileSetupLayout.tsx
  features/profile/setup/useProfileSetup.tsx
  hooks/useAIInsights.ts
  hooks/useDashboardData.ts
  hooks/useEntitlement.ts
  lib/apiGuard.ts
  lib/config/featureFlags.ts
  lib/gamification/xp.ts
  lib/lifecycle/events.ts
  lib/profile/update.ts
  lib/repositories/aiRepository.ts
  lib/repositories/analyticsRepository.ts
  lib/repositories/profileRepository.ts
  lib/repositories/subscriptionRepository.ts
  lib/serverRole.ts
  lib/services/dashboardService.ts
  lib/usage/checkQuota.ts
  pages/api/premium/eligibility.ts
  pages/api/premium/status.ts
  pages/dashboard/index.tsx
  supabase/architecture/phase1-completion.md
  supabase/architecture/phase1-task1-domain-boundary-map.md
  supabase/migrations/20260227000001_phase1_enterprise_schema_v2.sql
  supabase/migrations/20260227000002_phase1_profiles_data_migration.sql
  supabase/migrations/20260227000003_phase1_profiles_rollback.sql
Due: eslint --fix, prettier --write

Update the pages/dashboard
  pages/dashboard/index.tsx
Due: eslint --fix

Revert "Fix onboarding completion profile update to prevent redirect loop (#14)"
  pages/api/onboarding/complete.ts
Due: eslint --fix

Revert "Fix onboarding completion profile update to prevent redirect loop (#14)" (#18)
  pages/api/onboarding/complete.ts
Due: eslint --fix

Fix hostname canonicalization redirect loop in middleware
  middleware.ts
Due: none

Fix hostname canonicalization redirect loop in middleware (#19)
  middleware.ts
Due: none

fix middleware host redirect loop on custom domain
  middleware.ts
Due: none

fix middleware host redirect loop on custom domain (#20)
  middleware.ts
Due: none

Fix login session check hang on auth options
  components/auth/AuthOptions.tsx
Due: eslint --fix

Fix login session check hang on auth options (#21)
  components/auth/AuthOptions.tsx
Due: eslint --fix

phase1: finalize profile reduction and rollback coverage
  supabase/architecture/phase1-completion.md
  supabase/architecture/phase1-task1-domain-boundary-map.md
  supabase/migrations/20260227000002_phase1_profiles_data_migration.sql
  supabase/migrations/20260227000003_phase1_profiles_rollback.sql
Due: prettier --write

phase2: refactor profile-domain queries into repositories
  lib/auth/session.ts
  lib/repositories/aiRepository.ts
  lib/repositories/profileRepository.ts
  lib/repositories/subscriptionRepository.ts
  pages/api/coach/chat.ts
  pages/api/onboarding/complete.ts
  pages/api/onboarding/save-survey.ts
  pages/api/quick-drill.ts
  pages/api/subscriptions/portal.ts
Due: eslint --fix

phase3: add dashboard aggregation and centralized entitlements
  components/dashboard/TierGuard.tsx
  components/dashboard/UpgradeModal.tsx
  hooks/useDashboardAggregate.ts
  hooks/useEntitlement.ts
  lib/repositories/subscriptionRepository.ts
  lib/services/dashboardService.ts
  pages/api/dashboard/aggregate.ts
  pages/api/entitlements.ts
  pages/dashboard/index.tsx
Due: eslint --fix

phase4: structure AI recommendations and wire generation/dashboard
  lib/repositories/aiRepository.ts
  lib/services/dashboardService.ts
  pages/api/ai/study-plan/generate.ts
  pages/api/ai/study-plan/regenerate.ts
  pages/dashboard/index.tsx
  supabase/architecture/phase4-task8-ai-recommendation-engine.md
  supabase/migrations/20260415000000_phase4_ai_recommendation_engine.sql
Due: eslint --fix, prettier --write

phase5: optimize dashboard queries and add domain observability
  lib/obs/domainLogger.ts
  lib/services/dashboardService.ts
  pages/api/ai/study-plan/generate.ts
  pages/api/ai/study-plan/regenerate.ts
  pages/api/dashboard/aggregate.ts
  pages/api/mock/reading/submit-final.ts
  pages/api/onboarding/complete.ts
  pages/api/onboarding/save-survey.ts
  pages/api/webhooks/payment.ts
  supabase/architecture/phase5-performance-observability.md
  supabase/migrations/20260416000000_phase5_query_optimization.sql
Due: eslint --fix, prettier --write

phase6: complete ai assist pipeline with repo, logging, and hardening
  lib/obs/domainLogger.ts
  lib/repositories/aiAssistRepository.ts
  pages/api/ai/speaking/hints.ts
  pages/api/ai/writing/paraphrase.ts
  supabase/architecture/phase6-ai-assist-completion.md
  supabase/migrations/20260417000000_phase6_ai_assist_hardening.sql
Due: eslint --fix, prettier --write

Phase 1: finalize profile-domain extraction and strict identity-only cutover (#22)
  components/dashboard/TierGuard.tsx
  components/dashboard/UpgradeModal.tsx
  hooks/useDashboardAggregate.ts
  hooks/useEntitlement.ts
  lib/auth/session.ts
  lib/obs/domainLogger.ts
  lib/repositories/aiAssistRepository.ts
  lib/repositories/aiRepository.ts
  lib/repositories/profileRepository.ts
  lib/repositories/subscriptionRepository.ts
  lib/services/dashboardService.ts
  pages/api/ai/speaking/hints.ts
  pages/api/ai/study-plan/generate.ts
  pages/api/ai/study-plan/regenerate.ts
  pages/api/ai/writing/paraphrase.ts
  pages/api/coach/chat.ts
  pages/api/dashboard/aggregate.ts
  pages/api/entitlements.ts
  pages/api/mock/reading/submit-final.ts
  pages/api/onboarding/complete.ts
  pages/api/onboarding/save-survey.ts
  pages/api/quick-drill.ts
  pages/api/subscriptions/portal.ts
  pages/api/webhooks/payment.ts
  pages/dashboard/index.tsx
  supabase/architecture/phase1-completion.md
  supabase/architecture/phase1-task1-domain-boundary-map.md
  supabase/architecture/phase4-task8-ai-recommendation-engine.md
  supabase/architecture/phase5-performance-observability.md
  supabase/architecture/phase6-ai-assist-completion.md
  supabase/migrations/20260227000002_phase1_profiles_data_migration.sql
  supabase/migrations/20260227000003_phase1_profiles_rollback.sql
  supabase/migrations/20260415000000_phase4_ai_recommendation_engine.sql
  supabase/migrations/20260416000000_phase5_query_optimization.sql
  supabase/migrations/20260417000000_phase6_ai_assist_hardening.sql
Due: eslint --fix, prettier --write

Improve landing page accessibility and interactivity
  pages/index.tsx
Due: eslint --fix

Improve landing page accessibility and interactivity (#23)
  pages/index.tsx
Due: eslint --fix

Handle auth callback params on non-auth routes
  pages/_app.tsx
Due: eslint --fix

Persist profile onboarding completion on finish
  pages/api/onboarding/complete.ts
Due: eslint --fix

Reset route guard redirect latch on navigation
  hooks/useRouteGuard.ts
Due: none

Fix email verification links landing on homepage without signing in (#24)
  hooks/useRouteGuard.ts
  pages/_app.tsx
  pages/api/onboarding/complete.ts
Due: eslint --fix

Fix local dev startup by forcing watchpack polling
  package.json
  scripts/dev-next.mjs
Due: prettier --write

Fix local dev startup by forcing watchpack polling (#25)
  package.json
  scripts/dev-next.mjs
Due: prettier --write

Updated Layout, Input component, and homepage
  components/Layout.tsx
  components/design-system/Input.tsx
  pages/index.tsx
Due: eslint --fix

Fix homepage import for Vercel build
  pages/index.tsx
Due: eslint --fix

Update_Index
  pages/index.tsx
Due: eslint --fix

Refactor class names in Layout component
  components/Layout.tsx
Due: eslint --fix

Update text colors and input IDs in index.tsx
  pages/index.tsx
Due: eslint --fix

Fix homepage import for Vercel build3
  pages/index.tsx
Due: eslint --fix

Harden dev launcher and use turbo on Windows
  package.json
  scripts/dev-next.mjs
Due: prettier --write

Revert "Fix local dev startup by forcing watchpack polling (#25)"
  package.json
  scripts/dev-next.mjs
Due: prettier --write

Revert "Fix local dev startup by forcing watchpack polling (#25)" (#27)
  package.json
  scripts/dev-next.mjs
Due: prettier --write

Harden dev launcher and use turbo on Windows (#26)
  package.json
  scripts/dev-next.mjs
Due: prettier --write

Stabilize profile/account review fixes without expanding architecture
  components/layouts/ProfileLayout.tsx
  components/layouts/SettingsLayout.tsx
  hooks/useAccountSecurity.ts
  hooks/useProfileDashboard.ts
  hooks/useUser.ts
  lib/ssr/requireAuthenticatedPage.ts
  middleware.ts
  pages/api/profile/dashboard.ts
  pages/profile/account/activity.tsx
  pages/profile/account/billing.tsx
  pages/profile/account/index.tsx
  pages/profile/account/redeem.tsx
  pages/profile/account/referrals.tsx
  pages/profile/billing.tsx
  pages/profile/index.tsx
  pages/profile/setup/index.tsx
  pages/profile/streak.tsx
  pages/profile/subscription.tsx
  pages/settings/accessibility.tsx
  pages/settings/billing.tsx
  pages/settings/index.tsx
  pages/settings/language.tsx
  pages/settings/notifications.tsx
  pages/settings/security.tsx
  services/accountService.ts
Due: eslint --fix

fix: resolve post-refactor regressions causing onboarding SSR crash and missing exports
  components/design-system/Toaster.tsx
  components/error/DashboardErrorBoundary.tsx
  lib/onboarding/schema.ts
  lib/reading/analytics.ts
  lib/studyPlan.ts
  pages/api/safepay/create-intent.ts
  pages/dashboard/activity/index.tsx
  pages/onboarding/teacher/index.tsx
  pages/profile/account/index.tsx
Due: eslint --fix

Fix StepShell export and restore page-safe withPlan guard
  components/onboarding/StepShell.tsx
  lib/plan/withPlan.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
