Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Add reading tests 2-11 data
  data/reading/reading-test-10.json
  data/reading/reading-test-11.json
  data/reading/reading-test-2.json
  data/reading/reading-test-3.json
  data/reading/reading-test-4.json
  data/reading/reading-test-5.json
  data/reading/reading-test-6.json
  data/reading/reading-test-7.json
  data/reading/reading-test-8.json
  data/reading/reading-test-9.json
Due: prettier --write

Add reading tests 2-11 data (#332)
  data/reading/reading-test-10.json
  data/reading/reading-test-11.json
  data/reading/reading-test-2.json
  data/reading/reading-test-3.json
  data/reading/reading-test-4.json
  data/reading/reading-test-5.json
  data/reading/reading-test-6.json
  data/reading/reading-test-7.json
  data/reading/reading-test-8.json
  data/reading/reading-test-9.json
Due: prettier --write

Add ten new IELTS writing exam sets (#331)
  data/writing/exam-index.ts
  data/writing/ielts-writing-exam-16.json
  data/writing/ielts-writing-exam-17.json
  data/writing/ielts-writing-exam-18.json
  data/writing/ielts-writing-exam-19.json
  data/writing/ielts-writing-exam-20.json
  data/writing/ielts-writing-exam-21.json
  data/writing/ielts-writing-exam-22.json
  data/writing/ielts-writing-exam-23.json
  data/writing/ielts-writing-exam-24.json
  data/writing/ielts-writing-exam-25.json
Due: prettier --write

Add ten full-length IELTS speaking practice exams
  data/speaking/full-exam-002.json
  data/speaking/full-exam-003.json
  data/speaking/full-exam-004.json
  data/speaking/full-exam-005.json
  data/speaking/full-exam-006.json
  data/speaking/full-exam-007.json
  data/speaking/full-exam-008.json
  data/speaking/full-exam-009.json
  data/speaking/full-exam-010.json
  data/speaking/full-exam-011.json
  data/speaking/index.ts
Due: prettier --write

Fix listening imports and expose vocabulary highlights
  components/visa/GapToGoal.tsx
  features/profile/setup/ProfileSetupLayout.tsx
  lib/vocabulary/data.ts
  pages/dashboard/index.tsx
  pages/mock-tests/listening.tsx
  pages/practice/listening.tsx
  types/vocabulary.ts
Due: eslint --fix

Add full listening mock exam support (#327)
  pages/mock/listening/[id].tsx
Due: eslint --fix

Update index.ts
  data/listening/index.ts
Due: none

Fix listening imports and expose vocabulary highlights (#335)
  components/visa/GapToGoal.tsx
  features/profile/setup/ProfileSetupLayout.tsx
  lib/vocabulary/data.ts
  pages/dashboard/index.tsx
  pages/mock-tests/listening.tsx
  pages/practice/listening.tsx
  types/vocabulary.ts
Due: eslint --fix

Add ten full-length IELTS speaking practice exams (#334)
  data/speaking/full-exam-002.json
  data/speaking/full-exam-003.json
  data/speaking/full-exam-004.json
  data/speaking/full-exam-005.json
  data/speaking/full-exam-006.json
  data/speaking/full-exam-007.json
  data/speaking/full-exam-008.json
  data/speaking/full-exam-009.json
  data/speaking/full-exam-010.json
  data/speaking/full-exam-011.json
  data/speaking/index.ts
Due: prettier --write

Align vocabulary highlights with main data model
  components/feature/VocabularySpotlight.tsx
  components/vocab/Highlights.tsx
  data/listening/index.ts
  lib/vocabulary/data.ts
  lib/vocabulary/word-shared.ts
  pages/api/words/learned.ts
  pages/api/words/today.ts
  pages/vocabulary/learned.tsx
  types/vocabulary.ts
Due: eslint --fix

Align vocabulary highlights with main data model (#336)
  components/feature/VocabularySpotlight.tsx
  components/vocab/Highlights.tsx
  lib/vocabulary/word-shared.ts
  pages/api/words/learned.ts
  pages/api/words/today.ts
  pages/vocabulary/learned.tsx
Due: eslint --fix

Align speaking exam assets with script ids
  data/speaking/ielts-speaking-full-001.json
  data/speaking/ielts-speaking-full-002.json
  data/speaking/ielts-speaking-full-003.json
  data/speaking/ielts-speaking-full-004.json
  data/speaking/ielts-speaking-full-005.json
  data/speaking/ielts-speaking-full-006.json
  data/speaking/ielts-speaking-full-007.json
  data/speaking/ielts-speaking-full-008.json
  data/speaking/ielts-speaking-full-009.json
  data/speaking/ielts-speaking-full-010.json
  data/speaking/ielts-speaking-full-011.json
  data/speaking/index.ts
Due: prettier --write

Align speaking exam assets with script ids (#337)
  data/speaking/ielts-speaking-full-001.json
  data/speaking/ielts-speaking-full-002.json
  data/speaking/ielts-speaking-full-003.json
  data/speaking/ielts-speaking-full-004.json
  data/speaking/ielts-speaking-full-005.json
  data/speaking/ielts-speaking-full-006.json
  data/speaking/ielts-speaking-full-007.json
  data/speaking/ielts-speaking-full-008.json
  data/speaking/ielts-speaking-full-009.json
  data/speaking/ielts-speaking-full-010.json
  data/speaking/ielts-speaking-full-011.json
  data/speaking/index.ts
Due: prettier --write

Enhance word studio experience and add learned words hub (#329)
  data/listening/index.ts
Due: none

Add writing module UI pages
  docs/writing_module_plan.md
  lib/writing/metrics.ts
  lib/writing/schemas.ts
  pages/api/writing/attempts/[id].ts
  pages/api/writing/attempts/redraft.ts
  pages/api/writing/attempts/save-draft.ts
  pages/api/writing/attempts/start.ts
  pages/api/writing/attempts/submit.ts
  pages/api/writing/drills/complete.ts
  pages/api/writing/metrics/compute.ts
  pages/api/writing/readiness/evaluate.ts
  pages/api/writing/rehearsals/similar.ts
  pages/api/writing/reviews/submit.ts
  pages/api/writing/score/run.ts
  pages/writing/[attemptId]/review.tsx
  pages/writing/[id]/index.tsx
  pages/writing/[id]/result.tsx
  pages/writing/[slug].tsx
  pages/writing/index.tsx
  pages/writing/review/[attemptId].tsx
  supabase/migrations/20251028_writing_core.sql
Due: eslint --fix, prettier --write

Fix writing review route conflict
  pages/writing/[slug].tsx
  pages/writing/index.tsx
  pages/writing/review/[attemptId].tsx
Due: eslint --fix

Streamline route loading overlay animations
  components/common/RouteLoadingOverlay.tsx
  pages/_app.tsx
Due: eslint --fix

Add writing module UI pages (#339)
  docs/writing_module_plan.md
  lib/writing/metrics.ts
  lib/writing/schemas.ts
  pages/api/writing/attempts/[id].ts
  pages/api/writing/attempts/redraft.ts
  pages/api/writing/attempts/save-draft.ts
  pages/api/writing/attempts/start.ts
  pages/api/writing/attempts/submit.ts
  pages/api/writing/drills/complete.ts
  pages/api/writing/metrics/compute.ts
  pages/api/writing/readiness/evaluate.ts
  pages/api/writing/rehearsals/similar.ts
  pages/api/writing/reviews/submit.ts
  pages/api/writing/score/run.ts
  pages/writing/[id]/index.tsx
  pages/writing/[id]/result.tsx
  pages/writing/[slug].tsx
  pages/writing/index.tsx
  pages/writing/review/[attemptId].tsx
  supabase/migrations/20251028_writing_core.sql
Due: eslint --fix, prettier --write

Update _app.tsx
  pages/_app.tsx
Due: eslint --fix

Persist referral codes across checkout
  components/referrals/RedeemBox.tsx
  pages/checkout/index.tsx
Due: eslint --fix
