Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Persist referral codes across checkout
  components/referrals/RedeemBox.tsx
  pages/checkout/index.tsx
Due: eslint --fix

Refeeral impl
  .history/lib/security/deviceHash_20251028033005.ts
  .history/lib/security/deviceHash_20251028033010.ts
  .history/pages/api/referrals/claim_20251028032833.ts
  .history/pages/api/referrals/claim_20251028032838.ts
  .history/pages/api/referrals/generate_20251028032814.ts
  .history/pages/api/referrals/generate_20251028032822.ts
  .history/pages/api/referrals/qualify_20251028032850.ts
  .history/pages/api/referrals/qualify_20251028032855.ts
  lib/security/deviceHash.ts
  pages/api/referrals/claim.ts
  pages/api/referrals/generate.ts
  pages/api/referrals/qualify.ts
Due: eslint --fix

Refeeral impl
  lib/security/deviceHash.ts
  pages/api/referrals/claim.ts
  pages/api/referrals/generate.ts
  pages/api/referrals/qualify.ts
Due: eslint --fix

Add crypto checkout path and promo code support
  components/billing/UpgradeDialog.tsx
  components/payments/CheckoutForm.tsx
  components/payments/PlanPicker.tsx
  components/payments/PromoCodeBox.tsx
  lib/env.ts
  lib/payments/gateway.ts
  lib/payments/index.ts
  lib/promotions/codes.ts
  pages/api/payments/create-intent.ts
  pages/checkout/crypto.tsx
  pages/checkout/index.tsx
  pages/promotions/index.tsx
  types/payments.ts
  types/supabase.ts
Due: eslint --fix

Restore withPlan API re-export
  components/billing/UpgradeDialog.tsx
  components/payments/CheckoutForm.tsx
  components/payments/PlanPicker.tsx
  components/payments/PromoCodeBox.tsx
  components/referrals/RedeemBox.tsx
  lib/env.ts
  lib/payments/gateway.ts
  lib/payments/index.ts
  lib/promotions/codes.ts
  lib/withPlan.ts
  pages/api/payments/create-intent.ts
  pages/checkout/crypto.tsx
  pages/checkout/index.tsx
  pages/promotions/index.tsx
  types/payments.ts
  types/supabase.ts
Due: eslint --fix

Restore withPlan API re-export (#342)
  components/billing/UpgradeDialog.tsx
  components/payments/CheckoutForm.tsx
  components/payments/PlanPicker.tsx
  components/payments/PromoCodeBox.tsx
  components/referrals/RedeemBox.tsx
  lib/env.ts
  lib/payments/gateway.ts
  lib/payments/index.ts
  lib/promotions/codes.ts
  lib/withPlan.ts
  pages/api/payments/create-intent.ts
  pages/checkout/crypto.tsx
  pages/checkout/index.tsx
  pages/promotions/index.tsx
  types/payments.ts
  types/supabase.ts
Due: eslint --fix

Fix design system imports and cross-module syntax
  components/writing/studio/LexicalTrackerPanel.tsx
  components/writing/studio/LiveCritiquePanel.tsx
  components/writing/studio/PaperUploadPanel.tsx
  components/writing/studio/ParaphraseStudio.tsx
  lib/writing/crossModule.ts
Due: eslint --fix

Complete writing module epics A-C
  components/writing/studio/CriteriaMeters.tsx
  components/writing/studio/DiffViewer.tsx
  components/writing/studio/DrillChecklist.tsx
  components/writing/studio/FeedbackPanel.tsx
  components/writing/studio/RetakeGuard.tsx
  components/writing/studio/TimerBar.tsx
  components/writing/studio/WordCountBar.tsx
  components/writing/studio/WritingEditor.tsx
  components/writing/studio/index.ts
  docs/writing_module_plan.md
  lib/api/requestContext.ts
  lib/writing/metrics.ts
  lib/writing/offlineQueue.ts
  lib/writing/schemas.ts
  pages/api/writing/attempts/[id].ts
  pages/api/writing/attempts/redraft.ts
  pages/api/writing/attempts/save-draft.ts
  pages/api/writing/attempts/start.ts
  pages/api/writing/attempts/submit.ts
  pages/api/writing/drills/complete.ts
  pages/api/writing/metrics/compute.ts
  pages/api/writing/readiness/evaluate.ts
  pages/api/writing/rehearsals/similar.ts
  pages/api/writing/reviews/submit.ts
  pages/api/writing/score/run.ts
  pages/writing/[id]/index.tsx
  pages/writing/[id]/result.tsx
  pages/writing/[slug].tsx
  pages/writing/index.tsx
  pages/writing/review/[attemptId].tsx
  supabase/migrations/20251028_writing_core.sql
Due: eslint --fix, prettier --write

Revert "Add writing module UI pages (#339)"
  docs/writing_module_plan.md
  lib/writing/metrics.ts
  lib/writing/schemas.ts
  pages/api/writing/attempts/[id].ts
  pages/api/writing/attempts/redraft.ts
  pages/api/writing/attempts/save-draft.ts
  pages/api/writing/attempts/start.ts
  pages/api/writing/attempts/submit.ts
  pages/api/writing/drills/complete.ts
  pages/api/writing/metrics/compute.ts
  pages/api/writing/readiness/evaluate.ts
  pages/api/writing/rehearsals/similar.ts
  pages/api/writing/reviews/submit.ts
  pages/api/writing/score/run.ts
  pages/writing/[id]/index.tsx
  pages/writing/[id]/result.tsx
  pages/writing/[slug].tsx
  pages/writing/index.tsx
  pages/writing/review/[attemptId].tsx
  supabase/migrations/20251028_writing_core.sql
Due: eslint --fix, prettier --write

Revert "Add writing module UI pages (#339)" (#346)
  docs/writing_module_plan.md
  lib/writing/metrics.ts
  lib/writing/schemas.ts
  pages/api/writing/attempts/[id].ts
  pages/api/writing/attempts/redraft.ts
  pages/api/writing/attempts/save-draft.ts
  pages/api/writing/attempts/start.ts
  pages/api/writing/attempts/submit.ts
  pages/api/writing/drills/complete.ts
  pages/api/writing/metrics/compute.ts
  pages/api/writing/readiness/evaluate.ts
  pages/api/writing/rehearsals/similar.ts
  pages/api/writing/reviews/submit.ts
  pages/api/writing/score/run.ts
  pages/writing/[id]/index.tsx
  pages/writing/[id]/result.tsx
  pages/writing/[slug].tsx
  pages/writing/index.tsx
  pages/writing/review/[attemptId].tsx
  supabase/migrations/20251028_writing_core.sql
Due: eslint --fix, prettier --write

Include all reading tests in practice list
  data/reading/index.ts
Due: none

Include all reading tests in practice list (#347)
  data/reading/index.ts
Due: none

Fix reading mock draft loading and show paper title
  data/reading/index.ts
  data/reading/reading-test-1.json
  data/reading/reading-test-10.json
  data/reading/reading-test-11.json
  data/reading/reading-test-2.json
  data/reading/reading-test-3.json
  data/reading/reading-test-4.json
  data/reading/reading-test-5.json
  data/reading/reading-test-6.json
  data/reading/reading-test-7.json
  data/reading/reading-test-8.json
  data/reading/reading-test-9.json
  pages/mock/reading/[id].tsx
Due: eslint --fix, prettier --write

Fix reading mock draft loading and show paper title (#349)
  data/reading/reading-test-1.json
  data/reading/reading-test-10.json
  data/reading/reading-test-11.json
  data/reading/reading-test-2.json
  data/reading/reading-test-3.json
  data/reading/reading-test-4.json
  data/reading/reading-test-5.json
  data/reading/reading-test-6.json
  data/reading/reading-test-7.json
  data/reading/reading-test-8.json
  data/reading/reading-test-9.json
  pages/mock/reading/[id].tsx
Due: eslint --fix, prettier --write
