Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: add phase 0 architecture audit baseline
  docs/architecture-audit.md
Due: prettier --write

Add folder scope baseline docs and architecture constraints
  components/README.md
  docs/README.md
  docs/architecture-baseline.md
  hooks/README.md
  lib/README.md
  pages/README.md
  services/README.md
  types/README.md
Due: prettier --write

refactor profile page to use dedicated useProfile hook
  hooks/useProfile.ts
  lib/profile.ts
  pages/profile/index.tsx
Due: eslint --fix

refactor subscription logic into shared helpers and hook
  hooks/useSubscription.ts
  lib/subscription.ts
  pages/profile/account/billing.tsx
  pages/profile/billing.tsx
  pages/profile/subscription.tsx
  pages/settings/billing.tsx
Due: eslint --fix

docs: add phase 0 architecture audit baseline (#50)
  docs/architecture-audit.md
Due: prettier --write

Add folder scope baseline docs and architecture constraints (#51)
  components/README.md
  docs/README.md
  docs/architecture-baseline.md
  hooks/README.md
  lib/README.md
  pages/README.md
  services/README.md
  types/README.md
Due: prettier --write

refactor profile page to use dedicated useProfile hook (#52)
  hooks/useProfile.ts
  lib/profile.ts
  pages/profile/index.tsx
Due: eslint --fix

refactor subscription logic into shared helpers and hook (#53)
  hooks/useSubscription.ts
  lib/subscription.ts
  pages/profile/account/billing.tsx
  pages/profile/billing.tsx
  pages/profile/subscription.tsx
  pages/settings/billing.tsx
Due: eslint --fix

Refactor AI tool calls into aiService and centralize usage policy
  components/innovation/AICoachPanel.tsx
  lib/usage.ts
  pages/labs/ai-tutor.tsx
  pages/learning/drills.tsx
  pages/review/speaking/[id].tsx
  pages/review/writing/[id].tsx
  services/aiService.ts
Due: eslint --fix

refactor auth guards with shared requireAuth utility
  lib/auth.ts
  lib/onboarding/exam-date.ts
  lib/onboarding/notifications.ts
  lib/onboarding/study-rhythm.ts
  lib/onboarding/target-band.ts
  pages/admin/users.tsx
  pages/api/listening/admin/create.ts
  pages/api/onboarding/exam-date.ts
  pages/api/onboarding/notifications.ts
  pages/api/onboarding/study-rhythm.ts
  pages/api/onboarding/target-band.ts
  types/auth.ts
Due: eslint --fix

Centralize subscription validation and status mapping
  lib/subscription.ts
  lib/subscriptions.ts
  pages/api/billing/summary.ts
  pages/api/subscriptions/portal.ts
  pages/profile/account/billing.tsx
  pages/profile/account/index.tsx
  pages/profile/billing.tsx
  pages/profile/subscription.tsx
Due: eslint --fix

Refactor daily usage checks into shared helpers
  lib/usage.ts
  pages/api/coach/chat.ts
  pages/api/coach/writing/session.ts
  pages/api/speaking/start-attempt.ts
Due: eslint --fix

Refactor AI tool calls into aiService and centralize usage policy (#55)
  components/innovation/AICoachPanel.tsx
  lib/usage.ts
  pages/labs/ai-tutor.tsx
  pages/learning/drills.tsx
  pages/review/speaking/[id].tsx
  pages/review/writing/[id].tsx
  services/aiService.ts
Due: eslint --fix

refactor auth guards with shared requireAuth utility (#56)
  lib/auth.ts
  lib/onboarding/exam-date.ts
  lib/onboarding/notifications.ts
  lib/onboarding/study-rhythm.ts
  lib/onboarding/target-band.ts
  pages/admin/users.tsx
  pages/api/listening/admin/create.ts
  pages/api/onboarding/exam-date.ts
  pages/api/onboarding/notifications.ts
  pages/api/onboarding/study-rhythm.ts
  pages/api/onboarding/target-band.ts
  types/auth.ts
Due: eslint --fix

Refactor daily usage checks into shared helpers (#58)
  lib/usage.ts
  pages/api/coach/chat.ts
  pages/api/coach/writing/session.ts
  pages/api/speaking/start-attempt.ts
Due: eslint --fix

Refactor billing component and update subscription status
  pages/profile/account/billing.tsx
Due: eslint --fix

Refactor billing summary and subscription status logic
  pages/profile/account/index.tsx
Due: eslint --fix

Fix duplicate incrementUsage and remove legacy Redis usage
  lib/usage.ts
Due: eslint --fix

Centralize subscription validation and status mapping (#57)
  lib/subscriptions.ts
  lib/usage.ts
  pages/api/billing/summary.ts
  pages/api/subscriptions/portal.ts
  pages/profile/account/billing.tsx
  pages/profile/account/index.tsx
Due: eslint --fix

Create canonical useUser hook with shared fetcher
  Docs/new-developer-guide.md
  hooks/useUser.ts
  lib/user/fetchCurrentUser.ts
  pages/listening/index.tsx
  pages/onboarding/welcome.tsx
Due: eslint --fix, prettier --write

Create canonical useUser hook with shared fetcher (#59)
  Docs/new-developer-guide.md
  hooks/useUser.ts
  lib/user/fetchCurrentUser.ts
  pages/listening/index.tsx
  pages/onboarding/welcome.tsx
Due: eslint --fix, prettier --write

refactor: move page/component supabase queries into shared data layer
  components/ActivityLogPage.tsx
  components/reading/ReadingExamShell.tsx
  lib/data/componentData.ts
  pages/admin/listening/articles.tsx
  pages/admin/listening/media.tsx
  pages/admin/reports/writing-activity.tsx
  pages/community/index.tsx
  pages/community/questions.tsx
  pages/community/review/index.tsx
  pages/institutions/[orgId]/index.tsx
  pages/institutions/[orgId]/reports.tsx
  pages/institutions/[orgId]/students.tsx
  pages/learn/listening/index.tsx
  pages/learning/[slug].tsx
  pages/learning/strategies/[tipSlug].tsx
  pages/learning/strategies/index.tsx
  pages/mock/reading/feedback/[attemptId].tsx
  pages/mock/speaking/[id].tsx
  pages/review/listening/[id].tsx
Due: eslint --fix

refactor: centralize dashboard shell into DashboardLayout
  Docs/dashboard-layout.md
  components/dashboard/DashboardShell.tsx
  components/dashboard/Sidebar.tsx
  components/dashboard/TopNavbar.tsx
  components/layouts/DashboardLayout.tsx
  pages/dashboard/ai-reports.tsx
  pages/dashboard/billing.tsx
  pages/dashboard/components/shared/Header.tsx
  pages/dashboard/components/shared/Sidebar.tsx
  pages/dashboard/components/tiers/FreeView.tsx
  pages/dashboard/components/tiers/OwlView.tsx
  pages/dashboard/components/tiers/RocketView.tsx
  pages/dashboard/components/tiers/SeedlingView.tsx
  pages/dashboard/index.tsx
  pages/dashboard/progress.tsx
  pages/dashboard/reading.tsx
  pages/dashboard/speaking.tsx
  pages/dashboard/writing.tsx
Due: eslint --fix, prettier --write

refactor: move page/component supabase queries into shared data layer (#60)
  components/ActivityLogPage.tsx
  components/reading/ReadingExamShell.tsx
  lib/data/componentData.ts
  pages/admin/listening/articles.tsx
  pages/admin/listening/media.tsx
  pages/admin/reports/writing-activity.tsx
  pages/community/index.tsx
  pages/community/questions.tsx
  pages/community/review/index.tsx
  pages/institutions/[orgId]/index.tsx
  pages/institutions/[orgId]/reports.tsx
  pages/institutions/[orgId]/students.tsx
  pages/learn/listening/index.tsx
  pages/learning/[slug].tsx
  pages/learning/strategies/[tipSlug].tsx
  pages/learning/strategies/index.tsx
  pages/mock/reading/feedback/[attemptId].tsx
  pages/mock/speaking/[id].tsx
  pages/review/listening/[id].tsx
Due: eslint --fix

refactor: centralize dashboard shell into DashboardLayout (#61)
  Docs/dashboard-layout.md
  components/dashboard/DashboardShell.tsx
  components/dashboard/Sidebar.tsx
  components/dashboard/TopNavbar.tsx
  components/layouts/DashboardLayout.tsx
  pages/dashboard/ai-reports.tsx
  pages/dashboard/billing.tsx
  pages/dashboard/components/shared/Header.tsx
  pages/dashboard/components/shared/Sidebar.tsx
  pages/dashboard/components/tiers/FreeView.tsx
  pages/dashboard/components/tiers/OwlView.tsx
  pages/dashboard/components/tiers/RocketView.tsx
  pages/dashboard/components/tiers/SeedlingView.tsx
  pages/dashboard/index.tsx
  pages/dashboard/progress.tsx
  pages/dashboard/reading.tsx
  pages/dashboard/speaking.tsx
  pages/dashboard/writing.tsx
Due: eslint --fix, prettier --write

Unify settings routes with shared layout and tabs
  components/settings/SettingsLayout.tsx
  pages/settings/account.tsx
  pages/settings/billing.tsx
  pages/settings/index.tsx
  pages/settings/profile.tsx
  pages/settings/security.tsx
Due: eslint --fix

Establish shared typed contracts for auth subscription and usage
  lib/auth.ts
  lib/hooks/useQuotaGate.ts
  lib/repositories/subscriptionRepository.ts
  lib/subscription.ts
  lib/subscriptions.ts
  lib/usage.ts
  pages/api/billing/summary.ts
  pages/api/subscriptions/portal.ts
  types/subscription.ts
  types/usage.ts
  types/user.ts
Due: eslint --fix

docs: add baseline architecture reference
  docs/architecture-baseline.md
Due: prettier --write

Unify settings routes with shared layout and tabs (#62)
  components/settings/SettingsLayout.tsx
  pages/settings/account.tsx
  pages/settings/billing.tsx
  pages/settings/index.tsx
  pages/settings/profile.tsx
  pages/settings/security.tsx
Due: eslint --fix

Establish shared typed contracts for auth subscription and usage (#63)
  lib/auth.ts
  lib/hooks/useQuotaGate.ts
  lib/repositories/subscriptionRepository.ts
  lib/subscription.ts
  lib/subscriptions.ts
  lib/usage.ts
  pages/api/billing/summary.ts
  pages/api/subscriptions/portal.ts
  types/subscription.ts
  types/usage.ts
  types/user.ts
Due: eslint --fix

docs: add baseline architecture reference (#64)
  docs/architecture-baseline.md
Due: prettier --write

centralize client current-user fetching with useUser hook
  Docs/new-developer-guide.md
  components/admin/ImpersonationBanner.tsx
  hooks/useEmailLoginMFA.ts
  hooks/useUser.ts
  lib/currentUser.ts
  pages/onboarding/welcome.tsx
Due: eslint --fix, prettier --write

centralize client current-user fetching with useUser hook (#65)
  Docs/new-developer-guide.md
  components/admin/ImpersonationBanner.tsx
  hooks/useEmailLoginMFA.ts
  lib/currentUser.ts
  pages/onboarding/welcome.tsx
Due: eslint --fix, prettier --write

phase1: harden auth middleware and sensitive API actions
  docs/auth-security-test-checklist.md
  docs/middleware-gap-report.md
  lib/auth.ts
  lib/auth/cookies.ts
  lib/auth/recentAuth.ts
  middleware.ts
  pages/api/account/delete.ts
  pages/api/auth/signout.ts
  pages/api/billing/create-portal-session.ts
  pages/api/subscriptions/portal.ts
Due: eslint --fix, prettier --write

phase1: harden auth middleware and sensitive API actions (#66)
  docs/auth-security-test-checklist.md
  docs/middleware-gap-report.md
  lib/auth.ts
  lib/auth/cookies.ts
  lib/auth/recentAuth.ts
  middleware.ts
  pages/api/account/delete.ts
  pages/api/auth/signout.ts
  pages/api/billing/create-portal-session.ts
  pages/api/subscriptions/portal.ts
Due: eslint --fix, prettier --write

Phase 2: refactor subscription source of truth and billing flows
  components/billing/UpgradePrompt.tsx
  docs/subscription-audit.md
  docs/subscription-webhook-audit.md
  hooks/useSubscription.ts
  lib/requireActiveSubscription.ts
  lib/subscription.ts
  middleware.ts
  pages/api/billing/summary.ts
  pages/api/webhooks/payment.ts
  pages/dashboard/billing.tsx
  supabase/migrations/20260303000000_phase2_subscription_refactor.sql
Due: eslint --fix, prettier --write

Phase 3: add usage tracking service, AI guard, and usage meter UI
  components/billing/UsageMeter.tsx
  docs/phase3-usage-test-plan.md
  hooks/useUsage.ts
  lib/usage.ts
  pages/api/admin/ai/usage-summary.ts
  pages/api/ai/explain.ts
  pages/api/ai/next-item.ts
  pages/api/ai/profile-suggest.ts
  pages/api/ai/recommend.ts
  pages/api/ai/summary.ts
  pages/api/usage/[feature].ts
  pages/dashboard/billing.tsx
  supabase/migrations/20260303010000_phase3_usage_tracking.sql
  types/usage.ts
Due: eslint --fix, prettier --write

Phase 4: complete RLS matrix with admin and teacher access policies
  docs/rls-audit.md
  supabase/migrations/20260303020000_phase4_rls_completion.sql
Due: prettier --write

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
