Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Fix Supabase build install blockers
  .npmrc
  docs/maintenance-notes.md
  package.json
  scripts/next-build.mjs
Due: prettier --write

Fix shield claim gating and atomic challenge progress
  pages/api/gamification/challenges/progress.ts
  pages/api/streak.ts
  supabase/migrations/20251206_atomic_challenge_progress.sql
Due: eslint --fix

Relax dashboard shell constraints
  components/layouts/DashboardLayout.tsx
  pages/dashboard/index.tsx
Due: eslint --fix

feat: update hero countdown for december launch
  components/sections/Hero.tsx
Due: eslint --fix

Add full mock exam datasets across IELTS modules (#222)
  components/mock-tests/SectionTest.tsx
  data/listening/full-exam-001.json
  data/mockTests.ts
  data/reading/full-exam-001.json
  data/speaking/full-exam-001.json
  data/writing/exam-index.ts
  data/writing/full-exam-001.json
  pages/mock-tests/[section].tsx
  pages/mock-tests/full.tsx
Due: eslint --fix, prettier --write

Codex/implement daily word learning feature (#223)
  pages/api/words/learn.ts
  pages/api/words/today.ts
  supabase/migrations/20251011_word_learning.sql
Due: eslint --fix

Add four-skill vocab drills with writing and reading attempts (#224)
  pages/dashboard/index.tsx
Due: eslint --fix

docs: update gamification progress summary (#229)
  components/dashboard/DailyWeeklyChallenges.tsx
  components/sections/Hero.tsx
  components/streak/StreakCounter.tsx
  data/badges.ts
  features.md
  lib/gamification/server.ts
  lib/xp.ts
  package.json
  pages/api/challenge/progress.ts
  pages/api/gamification/challenges.ts
  pages/api/gamification/challenges/progress.ts
  pages/api/leaderboard/xp.ts
  pages/api/streak.ts
  pages/dashboard/index.tsx
  pages/leaderboard/index.tsx
  pages/profile/index.tsx
  scripts/snapshot_xp_leaderboard.ts
  supabase/migrations/20251201_gamification_phase4.sql
  supabase/migrations/20251206_atomic_challenge_progress.sql
Due: eslint --fix, prettier --write

Prevent showing auth options during session redirect (#227)
  components/auth/AuthOptions.tsx
Due: eslint --fix

Relax dashboard shell constraints (#231)
  components/layouts/DashboardLayout.tsx
Due: eslint --fix

Fix reading attempt grading to use server answers
  pages/api/reading/attempt.ts
Due: eslint --fix

Align writing full exam slug with JSON name
  data/writing/ielts-writing-full-001.json
Due: prettier --write

Verify reading drills against canonical blanks
  lib/skills/readingMiniCloze.ts
  pages/api/reading/attempt.ts
  pages/api/review/due.ts
Due: eslint --fix

Fix Supabase build install blockers (#230)
  .npmrc
  docs/maintenance-notes.md
  package.json
  scripts/next-build.mjs
Due: prettier --write

Fix reading attempt grading to use server answers (#232)
  pages/api/reading/attempt.ts
Due: eslint --fix

Align writing full exam slug with JSON name (#233)
  data/writing/ielts-writing-full-001.json
Due: prettier --write

Verify reading drills against canonical blanks (#234)
  lib/skills/readingMiniCloze.ts
  pages/api/reading/attempt.ts
  pages/api/review/due.ts
Due: eslint --fix

Codex/document vocab rules in repo (#237)
  lib/skills/readingMiniCloze.ts
  pages/api/reading/attempt.ts
  pages/api/review/due.ts
Due: eslint --fix

Codex/document vocab rules in repo q8cp0l (#235)
  pages/api/reading/attempt.ts
  pages/dashboard/index.tsx
Due: eslint --fix
