Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

refactor: align onboarding shell with DS tokens
  components/onboarding/StepShell.tsx
  styles/globals.css
Due: eslint --fix, prettier --write

feat: add onboarding and study analytics tracking
  components/SaveItemButton.tsx
  components/saved/List.tsx
  lib/analytics/events.ts
  lib/analytics/user.ts
  pages/onboarding/index.tsx
  pages/profile/setup.tsx
  pages/study-plan/index.tsx
Due: eslint --fix

feat(study-plan): build deterministic generator with availability
  lib/studyPlan.ts
  pages/api/study-plan/quick-start.ts
  pages/study-plan/index.tsx
  tests/lib/study-plan.generator.test.ts
Due: eslint --fix

feat(study-plan): add interactive timeline and tracking
  components/study/PlanCard.tsx
  components/study/PlanTimeline.tsx
  lib/analytics/events.ts
  pages/api/study-plan/events.ts
  pages/study-plan/index.tsx
Due: eslint --fix

feat: add daily study plan reminders
  supabase/config.toml
  supabase/functions/daily-plan-reminders/index.ts
  supabase/migrations/20251030_daily_plan_reminder_logs.sql
Due: none

feat(saved): add filters and bulk actions
  components/saved/List.tsx
  lib/analytics/events.ts
  lib/saved.ts
Due: eslint --fix

feat(saved): add typed list and delete endpoints
  components/dashboard/SavedItems.tsx
  components/saved/List.tsx
  lib/saved.ts
  pages/api/saved/[category].ts
  pages/api/saved/[id].ts
  pages/api/saved/index.ts
  supabase/migrations/20251015_add_surrogate_id_to_user_bookmarks.sql
  tests/api/saved.service.test.ts
Due: eslint --fix

feat(saved): add search and filters
  components/saved/List.tsx
  lib/saved.ts
  pages/api/saved/index.ts
Due: eslint --fix

Add streak counter UI with longest streak support
  components/streak/StreakCounter.tsx
  hooks/useStreak.ts
  lib/streak.ts
  pages/api/streak.ts
  pages/dashboard/index.tsx
  pages/profile/index.tsx
Due: eslint --fix

feat: redesign streak heatmap
  components/user/StreakHeatmap.tsx
Due: eslint --fix

Refine streak sync logic and add timezone tests
  lib/streaks.ts
  tests/lib/streaks.test.ts
Due: eslint --fix

feat(profile): upload avatars via signed URLs
  components/design-system/AvatarUploader.tsx
  pages/api/profile/avatar-upload-url.ts
  pages/profile/index.tsx
  pages/profile/setup.tsx
Due: eslint --fix

feat: add account export and deletion compliance
  lib/audit.ts
  lib/email.ts
  lib/env.ts
  pages/api/account/delete.ts
  pages/api/account/export.ts
  pages/api/account/export/[token].ts
  pages/profile/index.tsx
  supabase/functions/purge-pii/index.ts
  supabase/migrations/20251105_account_compliance.sql
  types/supabase.ts
Due: eslint --fix

Add premium billing summary to account settings
  pages/account/index.tsx
Due: eslint --fix

feat: add upgrade prompts to onboarding and saved flows
  components/premium/UpgradeBanner.tsx
  components/saved/List.tsx
  hooks/usePlan.ts
  pages/onboarding/index.tsx
  pages/study-plan/index.tsx
Due: eslint --fix

docs: log onboarding to study plan e2e runs
  docs/testing/e2e/onboarding-profile-study-plan.md
Due: prettier --write

Update i18n snapshot for Urdu coverage
  __snapshots__/i18n/keys.snap
  components/saved/List.tsx
  components/study/EmptyState.tsx
  components/study/PlanCard.tsx
  lib/i18n/index.ts
  lib/locale.tsx
  lib/saved.ts
  locales/en/common.json
  locales/ur/common.json
  pages/_app.tsx
  pages/onboarding/index.tsx
  pages/saved/index.tsx
  pages/study-plan/index.tsx
  scripts/i18n-check.ts
Due: eslint --fix, prettier --write

docs: log user module analytics qa verification
  trackor/user.html
Due: none
