Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Handle initial session in auth API (#27)
  _tests_/set-session.test.ts
Due: none

Revamp header navigation styling (#28)
  components/Header.tsx
  components/navigation/DesktopNav.tsx
  components/navigation/MobileNav.tsx
  components/navigation/ModuleMenu.tsx
  components/navigation/constants.tsx
Due: eslint --fix

refactor: unify spaced repetition module (#29)
  lib/spaced-repetition/index.ts
  lib/spacedRepetition.ts
  pages/mistakes/index.tsx
Due: eslint --fix

Add localized home page titles and fallback (#30)
  pages/index.tsx
  public/locales/ar/home.json
  public/locales/en/home.json
  public/locales/es/home.json
  public/locales/hi/home.json
  public/locales/ur/home.json
Due: eslint --fix, prettier --write

Fix README environment variables section
  README.md
Due: prettier --write

Fix README environment variables section (#32)
  README.md
Due: prettier --write

chore: clean gitignore conflict markers
  .gitignore
Due: none

Move legacy tests into tests directory
  .eslintrc.js
  scripts/ds_guard.sh
  tests/api/auth/login-event.test.ts
  tests/api/auth/set-session.test.ts
  tests/api/check-otp.test.ts
  tests/api/notifications-default.test.ts
  tests/api/send-otp.test.ts
  tests/auth/login-success.test.ts
  tests/auth/phone-login-success.test.ts
  tests/auth/signup-success.test.ts
  tests/hooks/use-email-login-mfa.test.ts
  tests/lib/learning-modules.test.ts
  tests/lib/payments/card.test.ts
  tests/lib/payments/easypaisa.test.ts
  tests/lib/payments/jazzcash.test.ts
  tests/pages/mock-tests.test.ts
  tests/utils/validation.test.ts
  tools/run-tests.ts
  tsconfig.json
Due: prettier --write

Update package metadata and enforce script failures
  package-lock.json
  package.json
Due: prettier --write

chore: organize planning artifacts
  docs/planning/ielts-implementation-tracker.html
  docs/planning/mobile-app/audit-plan.md
  docs/planning/mobile-app/audit-prototype.html
  dump.txt
  styles_dump.txt
Due: prettier --write

Consolidate documentation into docs directory
  docs/Reading_upload.sql
  docs/design_system_implementation_guide_pages_router.md
  docs/env.md
  docs/exam-layout.md
  docs/gdpr.md
  docs/notifications.md
  docs/payment-flow.md
  docs/rls-policies.md
  docs/ui-guidelines.md
  features.md
Due: prettier --write

Use router navigation for phone signup
  pages/signup/phone.tsx
Due: eslint --fix

chore: consolidate eslint configuration
  .eslintrc.js
  .eslintrc.json
Due: prettier --write

Update verification route for password signup
  pages/login/password.tsx
  pages/signup/password.tsx
Due: eslint --fix

Remove unused login password page
  docs/baseline/component-matrix.v1.backup.json
  docs/baseline/component-matrix.v1.enriched.json
  docs/baseline/component-matrix.v1.json
  pages/login/password.tsx
Due: eslint --fix, prettier --write

Use Button component for email login link
  pages/login/index.tsx
Due: eslint --fix

Refactor auth role selection into reusable component
  components/auth/AuthOptions.tsx
  pages/login/index.tsx
  pages/signup/index.tsx
Due: eslint --fix

chore: clean gitignore conflict markers (#33)
  .gitignore
Due: none

Move legacy tests into tests directory (#34)
  .eslintrc.js
  scripts/ds_guard.sh
  tests/api/auth/login-event.test.ts
  tests/api/auth/set-session.test.ts
  tests/api/check-otp.test.ts
  tests/api/notifications-default.test.ts
  tests/api/send-otp.test.ts
  tests/auth/login-success.test.ts
  tests/auth/phone-login-success.test.ts
  tests/auth/signup-success.test.ts
  tests/hooks/use-email-login-mfa.test.ts
  tests/lib/learning-modules.test.ts
  tests/lib/payments/card.test.ts
  tests/lib/payments/easypaisa.test.ts
  tests/lib/payments/jazzcash.test.ts
  tests/pages/mock-tests.test.ts
  tests/utils/validation.test.ts
  tools/run-tests.ts
  tsconfig.json
Due: prettier --write

Update package metadata and enforce script failures (#35)
  package-lock.json
  package.json
Due: prettier --write

Consolidate documentation into docs directory (#37)
  docs/Reading_upload.sql
  docs/design_system_implementation_guide_pages_router.md
  docs/env.md
  docs/exam-layout.md
  docs/gdpr.md
  docs/notifications.md
  docs/payment-flow.md
  docs/rls-policies.md
  docs/ui-guidelines.md
  features.md
Due: prettier --write

Use router navigation for phone signup (#38)
  pages/signup/phone.tsx
Due: eslint --fix

chore: consolidate eslint configuration (#39)
  .eslintrc.js
  .eslintrc.json
Due: prettier --write

Update verification route for password signup (#40)
  pages/login/password.tsx
  pages/signup/password.tsx
Due: eslint --fix

Refactor auth role selection into reusable component (#43)
  components/auth/AuthOptions.tsx
  pages/login/index.tsx
  pages/signup/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
