Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

chore: organize planning artifacts (#36)
  docs/planning/ielts-implementation-tracker.html
  docs/planning/mobile-app/audit-plan.md
  docs/planning/mobile-app/audit-prototype.html
  dump.txt
  styles_dump.txt
Due: prettier --write

Refactor login options into shared AuthOptions component
  components/auth/AuthOptions.tsx
  pages/login/index.tsx
Due: eslint --fix

Revert login refactor and apply button href
  components/auth/AuthOptions.tsx
  pages/login/index.tsx
Due: eslint --fix

Use Button component for login email CTA (#42)
  pages/login/index.tsx
Due: eslint --fix

Fix env fallback for missing Supabase config
  lib/env.ts
  pages/login/index.tsx
Due: eslint --fix

Fix env fallback for missing Supabase config (#44)
  lib/env.ts
Due: eslint --fix

Fix auth session sync to enable post-login redirects
  pages/_app.tsx
Due: eslint --fix

Fix auth session sync to enable post-login redirects (#45)
  pages/_app.tsx
Due: eslint --fix

Optimize header session handling
  components/Header.tsx
  components/hooks/useHeaderState.ts
Due: eslint --fix

Correction typing error of 2 files
  components/teacher/AssignTaskModal.tsx
  pages/reading/review/index.tsx
Due: eslint --fix

Correction typing error of 2 files
  .history/components/teacher/AssignTaskModal_20250929065524.tsx
  .history/components/teacher/AssignTaskModal_20250929081945.tsx
  .history/components/teacher/AssignTaskModal_20250929081946.tsx
  .history/pages/reading/review/index_20250929065524.tsx
  .history/pages/reading/review/index_20250929082023.tsx
  .history/pages/reading/review/index_20250929082024.tsx
Due: none

2nd Change to this
  .history/components/common/LocaleSwitcher_20250915113749.tsx
  .history/components/common/LocaleSwitcher_20250929084727.tsx
  .history/components/common/LocaleSwitcher_20250929085016.tsx
  .history/components/teacher/AssignTaskModal_20250929085022.tsx
  .history/lib/supabaseBrowser_20250929065524.ts
  .history/lib/supabaseBrowser_20250929084830.ts
  .history/lib/supabaseBrowser_20250929085019.ts
  .history/pages/reading/review/index_20250929083949.tsx
  .history/pages/reading/review/index_20250929085024.tsx
  .history/pages/reading/review/index_20250929085111.tsx
  .history/pages/settings/language_20250915113749.tsx
  .history/pages/settings/language_20250929084002.tsx
  .history/pages/settings/language_20250929085013.tsx
  .history/pages/settings/language_20250929085014.tsx
  .history/pages/speaking/roleplay/[scenario]_20250915113749.tsx
  .history/pages/speaking/roleplay/[scenario]_20250929084749.tsx
  .history/pages/speaking/roleplay/[scenario]_20250929084750.tsx
  .history/pages/speaking/roleplay/[scenario]_20250929085018.tsx
  .history/pages/teacher/register_20250923224828.tsx
  .history/pages/teacher/register_20250929084911.tsx
  .history/pages/teacher/register_20250929085010.tsx
  .history/pages/teacher/register_20250929085020.tsx
  public/premium.css
Due: prettier --write

Optimize header session handling (#46)
  components/Header.tsx
  components/hooks/useHeaderState.ts
Due: eslint --fix

3rd Changes uploaded
  .history/components/common/LocaleSwitcher_20250915113749.tsx
  .history/components/common/LocaleSwitcher_20250929084727.tsx
  .history/components/common/LocaleSwitcher_20250929085016.tsx
  .history/components/teacher/AssignTaskModal_20250929085022.tsx
  .history/lib/supabaseBrowser_20250929065524.ts
  .history/lib/supabaseBrowser_20250929084830.ts
  .history/lib/supabaseBrowser_20250929085019.ts
  .history/pages/reading/review/index_20250929083949.tsx
  .history/pages/reading/review/index_20250929085024.tsx
  .history/pages/reading/review/index_20250929085111.tsx
  .history/pages/settings/language_20250915113749.tsx
  .history/pages/settings/language_20250929084002.tsx
  .history/pages/settings/language_20250929085013.tsx
  .history/pages/settings/language_20250929085014.tsx
  .history/pages/speaking/roleplay/[scenario]_20250915113749.tsx
  .history/pages/speaking/roleplay/[scenario]_20250929084749.tsx
  .history/pages/speaking/roleplay/[scenario]_20250929084750.tsx
  .history/pages/speaking/roleplay/[scenario]_20250929085018.tsx
  .history/pages/teacher/register_20250923224828.tsx
  .history/pages/teacher/register_20250929084911.tsx
  .history/pages/teacher/register_20250929085010.tsx
  .history/pages/teacher/register_20250929085020.tsx
  public/premium.css
Due: prettier --write

3rd Changes uploaded
  components/common/LocaleSwitcher.tsx
  lib/supabaseBrowser.ts
  pages/reading/review/index.tsx
  pages/settings/language.tsx
  pages/speaking/roleplay/[scenario].tsx
  pages/teacher/register.tsx
  public/premium.css
Due: eslint --fix, prettier --write

3rd Channges
  components/Header.tsx
  components/navigation/DesktopNav.tsx
  components/navigation/MobileNav.tsx
  components/premium/ProtectedRoute.tsx
  pages/_app.tsx
  pages/login/email.tsx
  pages/premium/PremiumExamPage.tsx
  premium-ui/access/PinGate.tsx
  premium-ui/access/PremiumRoom.tsx
  premium-ui/access/PremiumRoomManager.tsx
  premium-ui/access/roomUtils.ts
  public/premium.css
Due: eslint --fix, prettier --write

Chore/phase 1 baselines (#48)
  components/Header.tsx
  components/hooks/useHeaderState.ts
  components/navigation/DesktopNav.tsx
  components/navigation/MobileNav.tsx
  components/premium/ProtectedRoute.tsx
  pages/_app.tsx
  pages/login/email.tsx
  pages/premium/PremiumExamPage.tsx
  premium-ui/access/PinGate.tsx
  premium-ui/access/PremiumRoom.tsx
  premium-ui/access/PremiumRoomManager.tsx
  premium-ui/access/roomUtils.ts
Due: eslint --fix

Use Supabase browser client instance for sign out
  lib/auth/signOut.ts
Due: eslint --fix

Cache Supabase browser client globally
  lib/supabaseBrowser.ts
Due: eslint --fix

Handle missing session token in authHeaders
  lib/supabaseBrowser.ts
  tests/lib/supabaseBrowser.test.ts
Due: eslint --fix

Refactor Supabase client re-export
  lib/supabaseClient.ts
  types/supabase.ts
Due: eslint --fix

Fix premium exam page imports
  pages/premium/PremiumExamPage.tsx
Due: eslint --fix

Fix premium exam page imports (#53)
  pages/premium/PremiumExamPage.tsx
Due: eslint --fix

Refactor Supabase client re-export (#52)
  lib/supabaseClient.ts
  types/supabase.ts
Due: eslint --fix
