Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add UI consistency improvements and dependencies
  components/design-system/Alert.tsx
  components/design-system/Badge.tsx
  components/design-system/Button.tsx
  components/speaking/Recorder.tsx
  docs/design-system-standards.md
  package-lock.json
  package.json
  scripts/eslint-design-system.js
  scripts/fix-ui-inconsistencies.js
Due: eslint --fix, prettier --write

Standardize TypeScript configuration and fix build issues
  .github/workflows/ci.yml
  components/design-system/Button.tsx
  components/design-system/_core/types.ts
  lib/env.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.tsbuildinfo
  types/globals.d.ts
Due: eslint --fix, prettier --write

Complete project standardization and create comprehensive guide
  docs/PROJECT_STANDARDS.md
  public/premium.css
Due: prettier --write

Fix theme-aware styling for Modules and Testimonials components
  components/sections/Modules.tsx
  components/sections/Testimonials.tsx
Due: eslint --fix

Fix critical ESLint and React Hook errors for CI build
  components/navigation/constants.tsx
  components/sections/Testimonials.tsx
  pages/content/studio/index.tsx
  pages/institutions/[orgId]/reports.tsx
  pages/profile/setup.tsx
Due: eslint --fix

Fix additional UI theme consistency issues
  components/sections/ExamStrategy.tsx
  components/speaking/Recorder.tsx
Due: eslint --fix

Fix AuthLayout theme and logo clickability
  components/layouts/AuthLayout.tsx
Due: eslint --fix

feat: handle report errors
  pages/institutions/[orgId]/reports.tsx
Due: eslint --fix

Use fixed timezone for content updates
  pages/content/studio/index.tsx
Due: eslint --fix

refactor recorder autostart
  components/speaking/Recorder.tsx
Due: eslint --fix

refactor: use Button href in studio index
  pages/content/studio/index.tsx
Due: eslint --fix

feat: handle report errors (#18)
  pages/institutions/[orgId]/reports.tsx
Due: eslint --fix

Use fixed timezone for content updates (#20)
  pages/content/studio/index.tsx
Due: eslint --fix

refactor recorder autostart (#21)
  components/speaking/Recorder.tsx
Due: eslint --fix

refactor: restore date formatter
  pages/content/studio/index.tsx
Due: eslint --fix

refactor: simplify new item button link (#22)
  pages/content/studio/index.tsx
Due: eslint --fix

Feature/UI consistency improvements (#17)
  components/layouts/AuthLayout.tsx
  components/navigation/constants.tsx
  components/sections/ExamStrategy.tsx
  components/sections/Modules.tsx
  components/sections/Testimonials.tsx
  components/speaking/Recorder.tsx
  pages/content/studio/index.tsx
  pages/institutions/[orgId]/reports.tsx
  pages/profile/setup.tsx
Due: eslint --fix

use gx theme vars for semantic colors
  tailwind.config.js
Due: none

use gx theme vars for semantic colors (#23)
  tailwind.config.js
Due: none

Map input and border colors to gx variables
  tailwind.config.js
Due: none

Fix input background color
  tailwind.config.js
Due: none

Handle Supabase initial session event
  pages/api/auth/set-session.ts
Due: eslint --fix

Fix input background color (#25)
  tailwind.config.js
Due: none

Handle Supabase initial session event (#26)
  pages/api/auth/set-session.ts
Due: eslint --fix

Handle initial session in auth API
  _tests_/set-session.test.ts
  pages/api/auth/set-session.ts
Due: eslint --fix

Revamp header navigation styling
  components/Header.tsx
  components/navigation/DesktopNav.tsx
  components/navigation/MobileNav.tsx
  components/navigation/ModuleMenu.tsx
  components/navigation/constants.tsx
Due: eslint --fix

refactor: unify spaced repetition module
  lib/spaced-repetition/index.ts
  lib/spacedRepetition.ts
  pages/mistakes/index.tsx
Due: eslint --fix

Add localized home page titles and fallback
  pages/index.tsx
  public/locales/ar/home.json
  public/locales/en/home.json
  public/locales/es/home.json
  public/locales/hi/home.json
  public/locales/ur/home.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
