Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

docs: log user module analytics qa verification
  trackor/user.html
Due: none

Add streak counter UI with longest streak support
  components/streak/StreakCounter.tsx
  hooks/useStreak.ts
  lib/streak.ts
  pages/api/streak.ts
  pages/dashboard/index.tsx
  pages/profile/index.tsx
Due: eslint --fix

feat(notifications): add WhatsApp opt-in preferences panel
  components/notifications/NotificationPreferencesPanel.tsx
  db/migrations/024_notifications_consent.sql
  lib/schemas/notifications.ts
  pages/api/notifications/preferences.ts
  pages/notifications/index.tsx
  supabase/config.toml
  supabase/functions/whatsapp-tasks/index.ts
  types/supabase.ts
Due: eslint --fix

Improve onboarding and dashboard i18n coverage
  __snapshots__/i18n/keys.snap
  common/LocaleSwitcher.tsx
  components/common/LocaleSwitcher.tsx
  components/saved/List.tsx
  components/study/EmptyState.tsx
  components/study/PlanCard.tsx
  components/study/WeekGrid.tsx
  lib/i18n/dictionaries.ts
  lib/i18n/index.ts
  lib/locale.tsx
  locales/en/common.json
  locales/en/onboarding.json
  locales/en/profile.json
  locales/en/saved.json
  locales/en/study-plan.json
  locales/ur/common.json
  locales/ur/onboarding.json
  locales/ur/profile.json
  locales/ur/saved.json
  locales/ur/study-plan.json
  pages/_app.tsx
  pages/onboarding/index.tsx
  pages/profile/index.tsx
  pages/saved/index.tsx
  pages/settings/language.tsx
  pages/study-plan/index.tsx
Due: eslint --fix, prettier --write

Add baseline quickstart CTA for study plan
  components/study/EmptyState.tsx
  package-lock.json
Due: eslint --fix, prettier --write

fix(saved): avoid dynamic route slug conflict
  components/SaveItemButton.tsx
  docs/baseline/component-matrix.v1.backup.json
  docs/baseline/component-matrix.v1.enriched.json
  docs/baseline/component-matrix.v1.json
  lib/saved.ts
  pages/api/saved/category/[category].ts
Due: eslint --fix, prettier --write

docs: summarize teacher and admin consolidation
  README.md
  docs/teacher-admin-overview.md
Due: prettier --write

ci: add batch build & merge workflow
  .github/workflows/batch-build-and-merge.yml
Due: none

Fix onboarding flow and profile page
  pages/onboarding/index.tsx
  pages/profile/index.tsx
Due: eslint --fix

Fix onboarding flow and profile page (#207)
  pages/onboarding/index.tsx
  pages/profile/index.tsx
Due: eslint --fix

Gracefully handle unauthorized streak fetch
  lib/streak.ts
Due: eslint --fix

Gracefully handle unauthorized streak fetch (#208)
  lib/streak.ts
Due: eslint --fix

Add public roadmap page
  pages/roadmap.tsx
Due: eslint --fix

Add public roadmap page (#209)
  pages/roadmap.tsx
Due: eslint --fix

feat: add daily vocabulary streak experience
  components/feature/WordOfTheDayCard.tsx
  data/word-bank.json
  pages/api/words/learn.ts
  pages/api/words/today.ts
  supabase/migrations/20251011_word_learning.sql
  supabase/seed/word_bank.sql
  tools/generate_word_bank.py
Due: eslint --fix, prettier --write

feat: add daily vocabulary streak experience (#210)
  components/feature/WordOfTheDayCard.tsx
  data/word-bank.json
  pages/api/words/learn.ts
  pages/api/words/today.ts
  supabase/migrations/20251011_word_learning.sql
  supabase/seed/word_bank.sql
  tools/generate_word_bank.py
Due: eslint --fix, prettier --write

docs: summarize teacher and admin consolidation (#206)
  README.md
  docs/teacher-admin-overview.md
Due: prettier --write

Document public roadmap access updates
  docs/roadmap-public-access.md
  hooks/useRouteGuard.ts
  lib/roles.ts
  lib/routeAccess.ts
  tests/lib/routeAccess.test.ts
Due: eslint --fix, prettier --write

fix(saved): relocate category route under by-category
  components/SaveItemButton.tsx
  docs/baseline/component-matrix.v1.backup.json
  docs/baseline/component-matrix.v1.enriched.json
  docs/baseline/component-matrix.v1.json
  lib/saved.ts
  pages/api/saved/by-category/[category].ts
Due: eslint --fix, prettier --write
