Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Revamp practice navigation and roadmap (#162)
  components/Header.tsx
  components/feature/GoalRoadmap.tsx
  components/navigation/DesktopNav.tsx
  components/navigation/MobileNav.tsx
  components/navigation/ModuleMenu.tsx
  config/navigation.ts
  lib/navigation/types.ts
Due: eslint --fix

feat: add autosave progress sync
  lib/attempts/progress.ts
  lib/mock/state.ts
  pages/api/attempts/[id]/progress.ts
  pages/api/attempts/progress/index.ts
  pages/mock/listening/[id].tsx
  pages/mock/reading/[id].tsx
  pages/mock/writing/[id].tsx
  supabase/migrations/20250901_attempt_progress.sql
  types/api/progress.ts
Due: eslint --fix

feat: add autosave progress sync (#163)
  lib/attempts/progress.ts
  lib/mock/state.ts
  pages/api/attempts/[id]/progress.ts
  pages/api/attempts/progress/index.ts
  pages/mock/listening/[id].tsx
  pages/mock/reading/[id].tsx
  pages/mock/writing/[id].tsx
  supabase/migrations/20250901_attempt_progress.sql
  types/api/progress.ts
Due: eslint --fix

Improve roadmap timeline and mobile navigation spacing
  components/Header.tsx
  components/feature/GoalRoadmap.tsx
  components/navigation/DesktopNav.tsx
  components/navigation/MobileNav.tsx
  components/navigation/ModuleMenu.tsx
  components/navigation/QuickAccessWidget.tsx
  config/navigation.ts
  lib/navigation/types.ts
Due: eslint --fix

Add Trackor telemetry for core exam attempts
  lib/analytics/trackor.server.ts
  lib/exam/telemetry.ts
  pages/api/exam/[attemptId]/event.ts
  pages/api/exam/[attemptId]/score.ts
  pages/api/exam/[attemptId]/submit.ts
Due: eslint --fix

Improve accessibility for exam flows
  components/exam/DeviceCheck.tsx
  components/exam/FocusGuard.tsx
  components/layouts/ExamLayout.tsx
  components/mock-tests/SectionTest.tsx
  premium-ui/components/PrTimer.tsx
  premium-ui/exam/DistractionFree.tsx
Due: eslint --fix

refactor: replace inline progress styles with tokens
  components/design-system/ProgressBar.tsx
  components/exam/AudioPlayerSegmented.tsx
  styles/globals.css
Due: eslint --fix, prettier --write

Add persistent transcript toggle to listening test
  components/listening/Transcript.tsx
  pages/listening/[slug].tsx
Due: eslint --fix

Improve listening audio player accessibility
  components/listening/AudioSectionsPlayer.tsx
Due: eslint --fix

feat(listening): add autosave session for drafts
  lib/autosave.ts
  pages/listening/[slug].tsx
  pages/listening/index.tsx
Due: eslint --fix

feat(reading): persist answers and show rationales
  components/reading/QuestionRenderer.tsx
  components/reading/useReadingAnswers.ts
  lib/reading/grade.ts
  pages/api/reading/submit.ts
  pages/api/reading/test/[slug].ts
  pages/reading/[slug]/review.tsx
  pages/reading/passage/[slug].tsx
Due: eslint --fix

Update writing module tracker with sprint backlog
  trackor/writing.html
Due: none

Document sprint 3 speaking priorities
  docs/planning/backlog.csv
  trackor/speaking.html
Due: none

Convert listening fixtures to generated assets
  .gitignore
  docs/reviews/listening-media-qa.md
  pages/placement/run.tsx
  pages/premium/listening/[slug].tsx
  pages/tools/mark-sections/[slug].tsx
  premium-ui/components/PrAudioPlayer.tsx
  scripts/generate-listening-fixtures.sh
Due: eslint --fix, prettier --write

Fix profile setup translations loading
  lib/locale.tsx
Due: eslint --fix

Fix profile setup translations loading (#175)
  lib/locale.tsx
Due: eslint --fix

Add new mock exam feature initiatives
  features.md
Due: prettier --write

Add QA backlog board and navigation link
  trackor/admin-dashboard.html
  trackor/ai-sidebar.html
  trackor/analytics.html
  trackor/community.html
  trackor/index.html
  trackor/learning.html
  trackor/listening.html
  trackor/monetization.html
  trackor/platform-ops.html
  trackor/qa.html
  trackor/reading.html
  trackor/speaking.html
  trackor/teacher-admin.html
  trackor/user.html
  trackor/writing.html
Due: none

feat: add typed onboarding wizard
  lib/onboarding/schema.ts
  pages/api/onboarding/index.ts
  pages/onboarding/index.tsx
  supabase/migrations/20251025_add_onboarding_fields.sql
  types/profile.ts
  types/supabase.ts
Due: eslint --fix

feat: harden profile settings with signed avatars
  components/design-system/AvatarUploader.tsx
  components/hooks/useHeaderState.ts
  hooks/useSignedAvatar.ts
  lib/avatar.ts
  lib/challenge.ts
  pages/dashboard/index.tsx
  pages/learning/skills/[skill].tsx
  pages/profile/index.tsx
  pages/profile/setup.tsx
  pages/settings/index.tsx
  pages/teacher/cohorts/[id].tsx
Due: eslint --fix

refactor: align onboarding shell with DS tokens
  components/onboarding/StepShell.tsx
  styles/globals.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
