Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Wire AI coach actions and align vocab rewrite contract (#129)
  deepseek_markdown_20260307_21a136 .md
  pages/ai/coach/index.tsx
  pages/api/ai/vocab/rewrite.ts
  pages/vocabulary/ai-lab.tsx
Due: eslint --fix, prettier --write

update fix
  pages/word-of-the-day.tsx
Due: eslint --fix

Add route status governance, placeholders, and lock enforcement
  .github/CODEOWNERS
  azure-pipelines.yml
  components/nav/CommandCenter.tsx
  components/nav/ModulesMenu.tsx
  components/routing/IncompleteRoutePlaceholder.tsx
  docs/routing-status-policy.md
  lib/navigation/utils.ts
  lib/routing/governance.ts
  lib/routing/routeStatusManifest.ts
  pages/coach/index.tsx
  pages/sitemap.xml.tsx
  scripts/ci/enforce-route-locks.mjs
Due: eslint --fix, prettier --write

fix: escape apostrophe in loading message
  pages/index.tsx
Due: eslint --fix

Add route status governance, placeholders, and lock enforcement (#130)
  .github/CODEOWNERS
  azure-pipelines.yml
  components/nav/CommandCenter.tsx
  components/nav/ModulesMenu.tsx
  components/routing/IncompleteRoutePlaceholder.tsx
  docs/routing-status-policy.md
  lib/navigation/utils.ts
  lib/routing/governance.ts
  lib/routing/routeStatusManifest.ts
  pages/coach/index.tsx
  pages/sitemap.xml.tsx
  scripts/ci/enforce-route-locks.mjs
Due: eslint --fix, prettier --write

Refresh homepage messaging to reflect latest platform updates
  pages/index.tsx
Due: eslint --fix

Refresh homepage messaging to reflect latest platform updates (#131)
  pages/index.tsx
Due: eslint --fix

Refactor home page to load typed overview payload
  lib/home/overview.ts
  pages/api/home/overview.ts
  pages/index.tsx
  types/home.ts
Due: eslint --fix

Add computed home module status mapping and gated CTAs
  lib/home/moduleStatus.ts
  pages/index.tsx
  tests/lib/home-module-status.test.ts
Due: eslint --fix

Create shared module registry and wire module views
  components/sections/ModulesOverview.tsx
  lib/modules/registry.ts
  pages/index.tsx
  tests/lib/modules-registry.test.ts
Due: eslint --fix

Refactor home page to load typed overview payload (#132)
  lib/home/overview.ts
  pages/api/home/overview.ts
  pages/index.tsx
  types/home.ts
Due: eslint --fix

Add computed home module status mapping and gated CTAs (#135)
  lib/home/moduleStatus.ts
  pages/index.tsx
  tests/lib/home-module-status.test.ts
Due: eslint --fix

Create shared module registry and wire module views (#136)
  components/sections/ModulesOverview.tsx
  lib/modules/registry.ts
  tests/lib/modules-registry.test.ts
Due: eslint --fix

Personalize home modules with Supabase dashboard data
  pages/api/user/dashboard.ts
  pages/index.tsx
Due: eslint --fix

Personalize home modules with Supabase dashboard data (#137)
  pages/api/user/dashboard.ts
  pages/index.tsx
Due: eslint --fix

Fix undefined auth variables on home dashboard CTA
  pages/index.tsx
Due: eslint --fix

Fix undefined auth variables on home dashboard CTA (#138)
  pages/index.tsx
Due: eslint --fix

Route home dashboard CTA through login redirect
  pages/index.tsx
Due: eslint --fix

Route home dashboard CTA through login redirect (#139)
  pages/index.tsx
Due: eslint --fix

Reduce redundant auth state polling in route guard
  hooks/useRouteGuard.ts
Due: none

Fix auth initialization crash with safe auth context defaults
  context/AuthProvider.tsx
  hooks/useAuthContext.ts
  lib/supabaseClient.ts
  pages/_app.tsx
Due: eslint --fix

Reduce redundant auth state polling in route guard (#140)
  hooks/useRouteGuard.ts
Due: none

Fix auth initialization crash with safe auth context defaults (#141)
  context/AuthProvider.tsx
  hooks/useAuthContext.ts
  lib/supabaseClient.ts
  pages/_app.tsx
Due: eslint --fix

feat: centralize ui API calls behind lib/api client
  eslint.config.mjs
  hooks/useStudyBuddy.ts
  hooks/useSubscription.ts
  lib/api.ts
  pages/account/subscription.tsx
  pages/admin/speaking/attempts.tsx
  pages/checkout/save-card.tsx
  pages/login/email.tsx
  pages/login/phone.tsx
  pages/pricing/overview.tsx
  tests/lib/api.contract.test.ts
Due: eslint --fix

refactor: centralize UI auth flows through lib/auth service
  components/hooks/useHeaderState.ts
  hooks/useAuthState.ts
  hooks/useEmailLoginMFA.ts
  hooks/useSupabaseSessionUser.ts
  lib/auth.ts
  pages/auth/callback.tsx
  pages/auth/confirm.tsx
  pages/auth/forgot.tsx
  pages/auth/mfa.tsx
  pages/auth/reset.tsx
  pages/auth/verify.tsx
  pages/login/email.tsx
  pages/login/password.tsx
  pages/login/phone.tsx
  pages/signup/email.tsx
  pages/signup/phone.tsx
  pages/signup/verify.tsx
  tests/lib/auth.service.test.ts
Due: eslint --fix

complete task 3 by routing MFA hook auth through lib/auth
  hooks/useEmailLoginMFA.ts
  lib/auth.ts
  lib/auth/signOut.ts
  lib/authHelpers.ts
  pages/auth/callback.tsx
  pages/auth/confirm.tsx
  pages/auth/forgot.tsx
  pages/auth/mfa.tsx
  pages/auth/reset.tsx
  pages/auth/verify.tsx
  pages/login/email.tsx
  pages/login/password.tsx
  pages/login/phone.tsx
  pages/signup/email.tsx
  pages/signup/phone.tsx
  pages/signup/verify.tsx
  tests/auth/logout-success.test.ts
  tests/auth/phone-login-success.test.ts
  tests/lib/auth.test.ts
Due: eslint --fix

harden secret handling and disable prod bypass fallbacks
  docs/security-secrets.md
  lib/env.ts
  lib/notify/sms.ts
  lib/usage/checkQuota.ts
  lib/vocabulary/today.ts
  pages/api/ai/speaking/grade.ts
  pages/api/ai/writing/grade.ts
  pages/api/auth/login-event.ts
  pages/api/counters/increment.ts
  pages/api/dev/grant-role.ts
  pages/api/healthz.ts
  pages/api/send-otp.ts
Due: eslint --fix, prettier --write

Harden HTML rendering with shared sanitizer and lint guard
  components/reading/ReadingPassagePane.tsx
  eslint.config.mjs
  lib/security/sanitizeHtml.ts
  pages/premium/reading/[slug].tsx
  pages/reading/[slug]/review.tsx
  tests/lib/security/sanitizeHtml.test.ts
  tools/eslint-rules/require-sanitized-dangerous-html.js
Due: eslint --fix

Consolidate browser auth logic into `lib/auth` and update auth pages/hooks (#143)
  components/reading/ReadingPassagePane.tsx
  docs/security-secrets.md
  eslint.config.mjs
  hooks/useEmailLoginMFA.ts
  lib/auth.ts
  lib/auth/signOut.ts
  lib/authHelpers.ts
  lib/env.ts
  lib/notify/sms.ts
  lib/security/sanitizeHtml.ts
  lib/usage/checkQuota.ts
  lib/vocabulary/today.ts
  pages/api/ai/speaking/grade.ts
  pages/api/ai/writing/grade.ts
  pages/api/auth/login-event.ts
  pages/api/counters/increment.ts
  pages/api/dev/grant-role.ts
  pages/api/healthz.ts
  pages/api/send-otp.ts
  pages/auth/callback.tsx
  pages/auth/confirm.tsx
  pages/auth/forgot.tsx
  pages/auth/mfa.tsx
  pages/auth/reset.tsx
  pages/auth/verify.tsx
  pages/login/email.tsx
  pages/login/password.tsx
  pages/login/phone.tsx
  pages/premium/reading/[slug].tsx
  pages/reading/[slug]/review.tsx
  pages/signup/email.tsx
  pages/signup/phone.tsx
  pages/signup/verify.tsx
  tests/auth/logout-success.test.ts
  tests/auth/phone-login-success.test.ts
  tests/lib/auth.test.ts
  tests/lib/security/sanitizeHtml.test.ts
  tools/eslint-rules/require-sanitized-dangerous-html.js
Due: eslint --fix, prettier --write

Fix client crash by deferring server Supabase import
  lib/subscription.ts
Due: eslint --fix

Fix client crash by deferring server Supabase import (#144)
  lib/subscription.ts
Due: eslint --fix

Update home page
  pages/index.tsx
Due: eslint --fix

fix(pricing): standardize pricing URLs and query parameters
  components/layouts/DashboardLayout.tsx
  components/paywall/PaywallGate.tsx
  components/premium/UpgradeBanner.tsx
  components/premium/UpgradeModal.tsx
  components/saved/List.tsx
  pages/pricing/index.tsx
  pages/pricing/overview.tsx
  pages/study-plan/index.tsx
Due: eslint --fix

docs: add pricing refactoring status summary
  Docs/pricing-refactor-status.md
Due: prettier --write

Refactor onboarding flow and pricing structure
  Docs/pricing-refactor-status.md
  all_export.txt
  components/saved/List.tsx
  config/navigation.ts
  pages/_app.tsx
  pages/account/billing-history.tsx
  pages/account/billing.tsx
  pages/api/onboarding/complete.ts
  pages/api/onboarding/exam-date.ts
  pages/api/onboarding/language.ts
  pages/api/onboarding/notifications.ts
  pages/api/onboarding/study-rhythm.ts
  pages/api/onboarding/target-band.ts
  pages/onboarding/exam-date.tsx
  pages/onboarding/index.tsx
  pages/onboarding/notifications.tsx
  pages/onboarding/skills.tsx
  pages/onboarding/study-rhythm.tsx
  pages/onboarding/target-band.tsx
  pages/study-plan/index.tsx
Due: eslint --fix, prettier --write

Unify onboarding pages with central step definitions
  next.config.mjs
  pages/onboarding/notifications.tsx
  pages/onboarding/target-band.tsx
Due: eslint --fix
