Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix checkout plan and cycle routing (#369)
  components/sections/Pricing.tsx
  pages/checkout/index.tsx
Due: eslint --fix

Add HTML dashboard overview for modules and pages
  docs/dashboard.html
Due: none

Add HTML dashboard overview for modules and pages (#370)
  docs/dashboard.html
Due: none

Deleted . md files
  fix_renames.sh
  output.txt
  premium-exam-plan.md
  public/premium.css
Due: prettier --write

Add HTML inventory of Next.js pages
  pages-list.html
Due: none

Add HTML inventory of Next.js pages (#371)
  pages-list.html
Due: none

Fix service Supabase client initialization
  lib/supabaseService.ts
Due: eslint --fix

Fix service Supabase client initialization (#372)
  lib/supabaseService.ts
Due: eslint --fix

Review track project deploye
  package-lock.json
  package.json
  public/review/gramorx_all_routes_seed.json
  public/review/index.html
  scripts/generate-routes-seed.mjs
Due: prettier --write

Review track project deploye
  .history/package_20251029170928.json
  .history/package_20251031000227.json
  .history/public/review/index_20251030235924.html
  .history/public/review/index_20251030235954.html
  .history/scripts/generate-routes-seed_20251030235644.mjs
  .history/scripts/generate-routes-seed_20251030235707.mjs
  package-lock.json
  public/review/gramorx_all_routes_seed.json
  public/review/index.html
  scripts/generate-routes-seed.mjs
Due: prettier --write

Fix auth callback effect wait for router readiness
  pages/auth/callback.tsx
Due: eslint --fix

Fix auth callback effect wait for router readiness (#373)
  pages/auth/callback.tsx
Due: eslint --fix

Final Tracking file vercell
  .history/pages/_app_20251031015425.tsx
  .history/pages/leaderboard/index_20251026122115.tsx
  .history/pages/leaderboard/index_20251031015113.tsx
  .history/pages/leaderboard/index_20251031015114.tsx
  .history/pages/leaderboard/index_20251031015256.tsx
  .history/pages/leaderboard/index_20251031015257.tsx
  .history/public/review/index_20251031015636.html
Due: none

Final Tracking file vercell
  pages/_app.tsx
  public/review/index.html
Due: eslint --fix

Improve local Supabase fallbacks and flag refresh
  lib/env.ts
  lib/supabaseServer.ts
  pages/api/flags/refresh.ts
  pages/api/gamification/challenges.ts
  pages/api/saved/index.ts
  pages/vocabulary/infiniteapplications.tsx
  styles/tokens.css
  tailwind.config.js
Due: eslint --fix, prettier --write

Improve local Supabase fallbacks and flag refresh (#374)
  lib/env.ts
  lib/supabaseServer.ts
  pages/api/flags/refresh.ts
  pages/api/gamification/challenges.ts
  pages/api/saved/index.ts
  pages/vocabulary/infiniteapplications.tsx
  styles/tokens.css
  tailwind.config.js
Due: eslint --fix, prettier --write

Handle leaderboard API failures gracefully
  pages/api/leaderboard/xp.ts
Due: eslint --fix

Handle leaderboard API failures gracefully (#375)
  pages/api/leaderboard/xp.ts
Due: eslint --fix

feat: allow admins to issue custom promo codes
  components/payments/PromoCodeBox.tsx
  lib/promotions/client.ts
  lib/promotions/dynamic.ts
  pages/admin/premium/promo-codes.tsx
  pages/api/admin/premium/promo-codes.ts
  pages/api/promotions/[code].ts
  pages/api/promotions/index.ts
  pages/checkout/index.tsx
  pages/promotions/index.tsx
  supabase/migrations/20251101000000_create_admin_promo_codes.sql
Due: eslint --fix

improve payment flow manually
  lib/stripe.ts
  package-lock.json
  package.json
  pages/account/billing.tsx
  pages/api/internal/payments/cron-settle-due.ts
  pages/api/payments/create-intent.ts
  pages/api/payments/settle-due.ts
  pages/api/payments/vault.ts
  pages/checkout/save-card.tsx
  public/GramorX_UI_Review_Checklist.html
  public/review/gramorx_all_routes_seed.json
  public/review/index.html
  scripts/generate-review-dashboard.mjs
  supabase/migrations/20251026000004_create_payment_intents.sql
Due: eslint --fix, prettier --write

feat: add admin promo usage reporting
  components/payments/PromoCodeBox.tsx
  lib/promotions/client.ts
  lib/promotions/dynamic.ts
  pages/admin/index.tsx
  pages/admin/premium/promo-codes.tsx
  pages/admin/premium/promo-usage.tsx
  pages/api/admin/premium/promo-codes.ts
  pages/api/admin/premium/promo-usage.ts
  pages/api/promotions/[code].ts
  pages/api/promotions/index.ts
  pages/checkout/index.tsx
  pages/promotions/index.tsx
  supabase/migrations/20251101000000_create_admin_promo_codes.sql
Due: eslint --fix

feat: add admin promo usage reporting (#377)
  components/payments/PromoCodeBox.tsx
  lib/promotions/client.ts
  lib/promotions/dynamic.ts
  pages/admin/index.tsx
  pages/admin/premium/promo-codes.tsx
  pages/admin/premium/promo-usage.tsx
  pages/api/admin/premium/promo-codes.ts
  pages/api/admin/premium/promo-usage.ts
  pages/api/promotions/[code].ts
  pages/api/promotions/index.ts
  pages/checkout/index.tsx
  pages/promotions/index.tsx
  supabase/migrations/20251101000000_create_admin_promo_codes.sql
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
