Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Improve layout responsiveness and safe areas
  components/Layout.tsx
  components/layouts/AdminLayout.tsx
  components/layouts/AuthLayout.tsx
  components/layouts/CommunityLayout.tsx
  components/layouts/DashboardLayout.tsx
  components/layouts/ExamLayout.tsx
  components/layouts/InstitutionsLayout.tsx
  components/layouts/LearningLayout.tsx
  components/layouts/MarketplaceLayout.tsx
  components/layouts/ProctoringLayout.tsx
  components/layouts/PublicMarketingLayout.tsx
  components/layouts/ReportsLayout.tsx
  pages/_app.tsx
Due: eslint --fix

Improve layout responsiveness and safe areas (#217)
  components/Layout.tsx
  components/layouts/AdminLayout.tsx
  components/layouts/AuthLayout.tsx
  components/layouts/CommunityLayout.tsx
  components/layouts/DashboardLayout.tsx
  components/layouts/ExamLayout.tsx
  components/layouts/InstitutionsLayout.tsx
  components/layouts/LearningLayout.tsx
  components/layouts/MarketplaceLayout.tsx
  components/layouts/ProctoringLayout.tsx
  components/layouts/PublicMarketingLayout.tsx
  components/layouts/ReportsLayout.tsx
  pages/_app.tsx
Due: eslint --fix

Fix authentication callback and streak displays
  components/Header.tsx
  pages/_app.tsx
  pages/auth/callback.tsx
  pages/dashboard/index.tsx
  pages/profile/setup.tsx
  pages/welcome/index.tsx
Due: eslint --fix

Fix authentication callback and streak displays (#218)
  components/Header.tsx
  pages/_app.tsx
  pages/auth/callback.tsx
  pages/dashboard/index.tsx
  pages/profile/setup.tsx
  pages/welcome/index.tsx
Due: eslint --fix

Isolate word-learning streak data
  pages/api/words/learn.ts
  pages/api/words/today.ts
  supabase/migrations/20251011_word_learning.sql
Due: eslint --fix

Strip fragments when normalizing routes
  lib/routeAccess.ts
Due: eslint --fix

Backfill word learning streak history
  supabase/migrations/20251011_word_learning.sql
Due: none

Guard general streaks when calculating word learning streaks (#219)
  pages/api/words/learn.ts
  pages/api/words/today.ts
  supabase/migrations/20251011_word_learning.sql
Due: eslint --fix

Add expanded practice papers across exam modules
  data/listening/listening-practice-01.json
  data/listening/listening-practice-02.json
  data/listening/listening-practice-03.json
  data/listening/listening-practice-04.json
  data/listening/listening-practice-05.json
  data/reading/reading-practice-01.json
  data/reading/reading-practice-02.json
  data/reading/reading-practice-03.json
  data/reading/reading-practice-04.json
  data/reading/reading-practice-05.json
  data/writing/exam-index.ts
  data/writing/ielts-writing-exam-11.json
  data/writing/ielts-writing-exam-12.json
  data/writing/ielts-writing-exam-13.json
  data/writing/ielts-writing-exam-14.json
  data/writing/ielts-writing-exam-15.json
  tests/lib/difficulty.test.ts
  tests/lib/error-mapping.test.ts
  tests/lib/next-task.test.ts
  tests/lib/recommendations.test.ts
  tests/lib/spaced-repetition.test.ts
Due: prettier --write

Add expanded practice papers across exam modules (#221)
  data/listening/listening-practice-01.json
  data/listening/listening-practice-02.json
  data/listening/listening-practice-03.json
  data/listening/listening-practice-04.json
  data/listening/listening-practice-05.json
  data/reading/reading-practice-01.json
  data/reading/reading-practice-02.json
  data/reading/reading-practice-03.json
  data/reading/reading-practice-04.json
  data/reading/reading-practice-05.json
  data/writing/exam-index.ts
  data/writing/ielts-writing-exam-11.json
  data/writing/ielts-writing-exam-12.json
  data/writing/ielts-writing-exam-13.json
  data/writing/ielts-writing-exam-14.json
  data/writing/ielts-writing-exam-15.json
  tests/lib/difficulty.test.ts
  tests/lib/error-mapping.test.ts
  tests/lib/next-task.test.ts
  tests/lib/recommendations.test.ts
  tests/lib/spaced-repetition.test.ts
Due: prettier --write

Add full mock exams for all IELTS modules
  data/listening/full-exam-001.json
  data/mockTests.ts
  data/reading/full-exam-001.json
  data/speaking/full-exam-001.json
  data/writing/exam-index.ts
  data/writing/full-exam-001.json
Due: prettier --write

Add four-skill vocab drills with writing and reading attempts
  components/review/LearningPathChip.tsx
  components/review/TodayReviewsPanel.tsx
  data/generated/collocations-phase2.json
  data/generated/examples-phase2.json
  data/generated/words-phase2.json
  docs/vocab-spec.md
  docs/vocab-srs-phase1.md
  docs/vocab-srs-phase2.md
  docs/vocab-srs-phase3.md
  lib/spaced-repetition/index.ts
  pages/api/listening/attempt.ts
  pages/api/reading/attempt.ts
  pages/api/review/due.ts
  pages/api/review/grade.ts
  pages/api/review/suspend.ts
  pages/api/speaking/attempt.ts
  pages/api/writing/eval.ts
  pages/dashboard/index.tsx
  scripts/generate_vocab_phase2.ts
  supabase/migrations/20251020_vocab_srs_schema.sql
  supabase/migrations/20251025_vocab_phase2_schema.sql
  supabase/migrations/20251026_vocab_phase2_seed.sql
  supabase/migrations/20251115_vocab_phase3_schema.sql
  supabase/migrations/20251120_vocab_phase3b_skills.sql
  types/review.ts
  types/supabase.ts
Due: eslint --fix, prettier --write

Strip fragments when normalizing routes (#220)
  lib/routeAccess.ts
Due: eslint --fix

Prevent showing auth options during session redirect
  components/auth/AuthOptions.tsx
Due: eslint --fix

Add four-skill spotlight section to dashboard
  components/review/FourSkillSpotlight.tsx
  components/review/LearningPathChip.tsx
  components/review/TodayReviewsPanel.tsx
  data/generated/collocations-phase2.json
  data/generated/examples-phase2.json
  data/generated/words-phase2.json
  docs/vocab-spec.md
  docs/vocab-srs-phase1.md
  docs/vocab-srs-phase2.md
  docs/vocab-srs-phase3.md
  lib/spaced-repetition/index.ts
  pages/api/listening/attempt.ts
  pages/api/reading/attempt.ts
  pages/api/review/due.ts
  pages/api/review/grade.ts
  pages/api/review/suspend.ts
  pages/api/speaking/attempt.ts
  pages/api/writing/eval.ts
  pages/dashboard/index.tsx
  scripts/generate_vocab_phase2.ts
  supabase/migrations/20251020_vocab_srs_schema.sql
  supabase/migrations/20251025_vocab_phase2_schema.sql
  supabase/migrations/20251026_vocab_phase2_seed.sql
  supabase/migrations/20251115_vocab_phase3_schema.sql
  supabase/migrations/20251120_vocab_phase3b_skills.sql
  types/review.ts
  types/supabase.ts
Due: eslint --fix, prettier --write

Add four-skill spotlight section to dashboard (#228)
  components/review/FourSkillSpotlight.tsx
  components/review/LearningPathChip.tsx
  components/review/TodayReviewsPanel.tsx
  data/generated/collocations-phase2.json
  data/generated/examples-phase2.json
  data/generated/words-phase2.json
  docs/vocab-spec.md
  docs/vocab-srs-phase1.md
  docs/vocab-srs-phase2.md
  docs/vocab-srs-phase3.md
  lib/spaced-repetition/index.ts
  pages/api/listening/attempt.ts
  pages/api/reading/attempt.ts
  pages/api/review/due.ts
  pages/api/review/grade.ts
  pages/api/review/suspend.ts
  pages/api/speaking/attempt.ts
  pages/api/writing/eval.ts
  pages/dashboard/index.tsx
  scripts/generate_vocab_phase2.ts
  supabase/migrations/20251020_vocab_srs_schema.sql
  supabase/migrations/20251025_vocab_phase2_schema.sql
  supabase/migrations/20251026_vocab_phase2_seed.sql
  supabase/migrations/20251115_vocab_phase3_schema.sql
  supabase/migrations/20251120_vocab_phase3b_skills.sql
  types/review.ts
  types/supabase.ts
Due: eslint --fix, prettier --write

docs: update gamification progress summary
  components/dashboard/DailyWeeklyChallenges.tsx
  components/streak/StreakCounter.tsx
  data/badges.ts
  features.md
  lib/gamification/server.ts
  lib/xp.ts
  package.json
  pages/api/challenge/progress.ts
  pages/api/gamification/challenges.ts
  pages/api/gamification/challenges/progress.ts
  pages/api/leaderboard/xp.ts
  pages/api/streak.ts
  pages/dashboard/index.tsx
  pages/leaderboard/index.tsx
  pages/profile/index.tsx
  scripts/snapshot_xp_leaderboard.ts
  supabase/migrations/20251201_gamification_phase4.sql
Due: eslint --fix, prettier --write

Refine mock exam flow with mode selection and AI results
  components/mock-tests/SectionTest.tsx
  pages/mock-tests/[section].tsx
  pages/mock-tests/full.tsx
Due: eslint --fix

Fix Supabase build install blockers
  .npmrc
  docs/maintenance-notes.md
  package.json
  scripts/next-build.mjs
Due: prettier --write
