Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Phase 5: add dashboard data layer, security panel upgrades, and billing transparency
  docs/dashboard-data-sources.md
  hooks/useDashboard.ts
  lib/dashboard.ts
  pages/api/billing/history.ts
  pages/api/billing/invoices.ts
  pages/api/dashboard/overview.ts
  pages/dashboard/index.tsx
  pages/settings/billing.tsx
  pages/settings/security.tsx
Due: eslint --fix, prettier --write

Phase 2: centralize subscriptions as SOT, harden billing & Stripe webhooks (#67)
  components/billing/UpgradePrompt.tsx
  components/billing/UsageMeter.tsx
  docs/dashboard-data-sources.md
  docs/phase3-usage-test-plan.md
  docs/rls-audit.md
  docs/subscription-audit.md
  docs/subscription-webhook-audit.md
  hooks/useDashboard.ts
  hooks/useSubscription.ts
  hooks/useUsage.ts
  lib/dashboard.ts
  lib/requireActiveSubscription.ts
  lib/subscription.ts
  lib/usage.ts
  middleware.ts
  pages/api/admin/ai/usage-summary.ts
  pages/api/ai/explain.ts
  pages/api/ai/next-item.ts
  pages/api/ai/profile-suggest.ts
  pages/api/ai/recommend.ts
  pages/api/ai/summary.ts
  pages/api/billing/history.ts
  pages/api/billing/invoices.ts
  pages/api/billing/summary.ts
  pages/api/dashboard/overview.ts
  pages/api/usage/[feature].ts
  pages/api/webhooks/payment.ts
  pages/dashboard/billing.tsx
  pages/dashboard/index.tsx
  pages/settings/billing.tsx
  pages/settings/security.tsx
  supabase/migrations/20260303000000_phase2_subscription_refactor.sql
  supabase/migrations/20260303010000_phase3_usage_tracking.sql
  supabase/migrations/20260303020000_phase4_rls_completion.sql
  types/usage.ts
Due: eslint --fix, prettier --write

fix(rls): guard account_audit_log policy creation when table is absent
  supabase/migrations/20260303020000_phase4_rls_completion.sql
Due: none

fix(rls): guard account_audit_log policy creation when table is absent (#68)
  supabase/migrations/20260303020000_phase4_rls_completion.sql
Due: none

Phase 6: optimize pagination reuse, lazy loading, and performance monitoring
  .github/workflows/lighthouse-ci.yml
  components/common/Pagination.tsx
  docs/pagination-audit.md
  docs/performance-audit.md
  docs/performance-best-practices.md
  pages/_app.tsx
  pages/api/monitoring/web-vitals.ts
  pages/bookings/index.tsx
  pages/classes/index.tsx
  pages/dashboard/index.tsx
  pages/marketplace/index.tsx
Due: eslint --fix, prettier --write

Phase 7: implement audit logging, admin audit viewer, and suspicious alerts
  .github/workflows/cron-suspicious-alerts.yml
  docs/suspicious-patterns.md
  lib/audit.ts
  lib/profile/update.ts
  lib/usage.ts
  pages/admin/alerts.tsx
  pages/admin/audit.tsx
  pages/api/admin/alerts.ts
  pages/api/admin/audit-logs.ts
  pages/api/admin/students/actions.ts
  pages/api/auth/login.ts
  pages/api/auth/signout.ts
  pages/api/cron/detect-suspicious.ts
  pages/api/webhooks/payment.ts
  supabase/migrations/20260420000000_phase7_audit_logging.sql
Due: eslint --fix, prettier --write

Phase 8: add global SaaS readiness features across compliance, plans, flags, enterprise, and docs
  components/CookieConsentBanner.tsx
  components/LanguageSwitcher.tsx
  docs/architecture-overview.md
  docs/gdpr-data-inventory.md
  docs/security-compliance-whitepaper.md
  hooks/useFeature.ts
  lib/features.ts
  lib/locale.tsx
  lib/subscription.ts
  pages/_app.tsx
  pages/admin/contracts.tsx
  pages/admin/features.tsx
  pages/admin/investor-metrics.tsx
  pages/admin/plans.tsx
  pages/api/admin/contracts/index.ts
  pages/api/admin/enterprise/manual-invoice.ts
  pages/api/admin/features/index.ts
  pages/api/admin/plans/index.ts
  pages/api/ai/recommend.ts
  pages/api/enterprise/contact.ts
  pages/api/payments/create-checkout-session.ts
  pages/api/plans/index.ts
  pages/api/user/export-data.ts
  pages/api/webhooks/payment.ts
  pages/pricing/index.tsx
  pages/settings/privacy.tsx
  supabase/migrations/20260421000000_phase8_global_saas_readiness.sql
Due: eslint --fix, prettier --write

Guard AI assist hardening migration when base table is absent
  supabase/migrations/20260417000000_phase6_ai_assist_hardening.sql
Due: none

Guard AI assist hardening migration when base table is absent (#70)
  supabase/migrations/20260417000000_phase6_ai_assist_hardening.sql
Due: none

feat(phase9): add personalization, prediction, admin analytics and v1 api foundations
  lib/apiKeyAuth.ts
  lib/prediction.ts
  lib/recommendations.ts
  pages/admin/analytics.tsx
  pages/api/admin/analytics.ts
  pages/api/prediction/index.ts
  pages/api/prediction/what-if.ts
  pages/api/recommendations.ts
  pages/api/v1/speaking/feedback/[id].ts
  pages/api/v1/users/me/index.ts
  pages/api/v1/users/me/progress.ts
  pages/api/v1/users/me/tests.ts
  pages/api/v1/writing/submit.ts
  pages/dashboard/index.tsx
  pages/developers/index.tsx
  supabase/migrations/20260415000001_phase9_ai_personalization.sql
Due: eslint --fix

Fix phase 7 migration for preexisting audit/alert tables
  supabase/migrations/20260420000000_phase7_audit_logging.sql
Due: none

fix migration compatibility for existing plans schema
  supabase/migrations/20260421000000_phase8_global_saas_readiness.sql
Due: none

Fix phase 7 migration for preexisting audit/alert tables (#72)
  supabase/migrations/20260420000000_phase7_audit_logging.sql
Due: none

fix migration compatibility for existing plans schema (#73)
  supabase/migrations/20260421000000_phase8_global_saas_readiness.sql
Due: none

feat(phase9): add personalization, prediction, admin analytics and v1 api foundations (#71)
  lib/apiKeyAuth.ts
  lib/prediction.ts
  lib/recommendations.ts
  pages/admin/analytics.tsx
  pages/api/admin/analytics.ts
  pages/api/prediction/index.ts
  pages/api/prediction/what-if.ts
  pages/api/recommendations.ts
  pages/api/v1/speaking/feedback/[id].ts
  pages/api/v1/users/me/index.ts
  pages/api/v1/users/me/progress.ts
  pages/api/v1/users/me/tests.ts
  pages/api/v1/writing/submit.ts
  pages/dashboard/index.tsx
  pages/developers/index.tsx
  supabase/migrations/20260415000001_phase9_ai_personalization.sql
Due: eslint --fix

set plans.rank default for legacy schemas
  supabase/migrations/20260421000000_phase8_global_saas_readiness.sql
Due: none

set plans.rank default for legacy schemas (#74)
  supabase/migrations/20260421000000_phase8_global_saas_readiness.sql
Due: none

docs(ui): add phase 12 UI audit baseline and component inventory
  docs/accessibility-quick-scan.md
  docs/baseline/ui-component-inventory.json
  docs/interaction-audit.md
  docs/ui-inventory.md
  docs/visual-consistency-audit.md
  scripts/ui-audit-inventory.mjs
Due: prettier --write

Add admin RLS policy for usage tracking
  supabase/migrations/20260601000000_usage_tracking_admin_policy.sql
Due: none

docs: add phase 9 enterprise validation audit report
  docs/phase9-enterprise-validation-audit.md
Due: prettier --write

docs: add phase 9 enterprise validation audit report (#77)
  docs/phase9-enterprise-validation-audit.md
Due: prettier --write

Enforce premium API subscription checks and remove profile plan dependency
  lib/premiumRoute.ts
  pages/api/ai/explain.ts
  pages/api/ai/next-item.ts
  pages/api/ai/profile-suggest.ts
  pages/api/ai/recommend.ts
  pages/api/ai/summary.ts
  pages/api/prediction/index.ts
  pages/api/prediction/what-if.ts
  pages/api/recommendations.ts
  supabase/migrations/20251027_profiles_rls_hardening.sql
  supabase/migrations/20251109_quota.sql
Due: eslint --fix

Enforce premium API subscription checks and remove profile plan dependency (#78)
  lib/premiumRoute.ts
  pages/api/ai/explain.ts
  pages/api/ai/next-item.ts
  pages/api/ai/profile-suggest.ts
  pages/api/ai/recommend.ts
  pages/api/ai/summary.ts
  pages/api/prediction/index.ts
  pages/api/prediction/what-if.ts
  pages/api/recommendations.ts
  supabase/migrations/20251027_profiles_rls_hardening.sql
  supabase/migrations/20251109_quota.sql
Due: eslint --fix

refactor: move subscription reads to subscriptions domain
  hooks/useSubscription.ts
  lib/subscription/getActiveSubscription.ts
  lib/subscription/index.ts
  pages/api/account/redeem-pin.ts
  pages/api/admin/writing/list.ts
  pages/api/counters/increment.ts
  pages/api/me/plan.ts
  pages/api/speaking/score.ts
  pages/api/speaking/start-attempt.ts
  pages/profile/subscription.tsx
Due: eslint --fix

refactor: move subscription reads to subscriptions domain (#79)
  hooks/useSubscription.ts
  lib/subscription/getActiveSubscription.ts
  lib/subscription/index.ts
  pages/api/account/redeem-pin.ts
  pages/api/admin/writing/list.ts
  pages/api/counters/increment.ts
  pages/api/me/plan.ts
  pages/api/speaking/score.ts
  pages/api/speaking/start-attempt.ts
  pages/profile/subscription.tsx
Due: eslint --fix

Harden premium enforcement with centralized subscription checks
  lib/premiumRoute.ts
  lib/subscription/getActiveSubscription.ts
  pages/api/ai/explain.ts
  pages/api/ai/next-item.ts
  pages/api/ai/profile-suggest.ts
  pages/api/ai/recommend.ts
  pages/api/ai/summary.ts
  pages/api/counters/increment.ts
  pages/api/prediction/index.ts
  pages/api/prediction/what-if.ts
  pages/api/recommendations.ts
  pages/api/speaking/score.ts
  pages/api/speaking/start-attempt.ts
Due: eslint --fix

Harden premium enforcement with centralized subscription checks (#80)
  lib/premiumRoute.ts
  lib/subscription/getActiveSubscription.ts
  pages/api/ai/explain.ts
  pages/api/ai/next-item.ts
  pages/api/ai/profile-suggest.ts
  pages/api/ai/recommend.ts
  pages/api/ai/summary.ts
  pages/api/counters/increment.ts
  pages/api/prediction/index.ts
  pages/api/prediction/what-if.ts
  pages/api/recommendations.ts
  pages/api/speaking/score.ts
  pages/api/speaking/start-attempt.ts
Due: eslint --fix

Align subscription, billing, and pricing overview UI patterns
  pages/pricing/overview.tsx
  pages/profile/account/billing.tsx
  pages/profile/subscription.tsx
Due: eslint --fix

Align subscription, billing, and pricing overview UI patterns (#81)
  pages/pricing/overview.tsx
  pages/profile/account/billing.tsx
  pages/profile/subscription.tsx
Due: eslint --fix

Add admin RLS policy for usage tracking (#76)
  supabase/migrations/20260601000000_usage_tracking_admin_policy.sql
Due: none

docs(ui): add phase 12 UI audit baseline and component inventory (#75)
  docs/accessibility-quick-scan.md
  docs/baseline/ui-component-inventory.json
  docs/interaction-audit.md
  docs/ui-inventory.md
  docs/visual-consistency-audit.md
  scripts/ui-audit-inventory.mjs
Due: prettier --write

Move layout family routing into AppLayoutManager
  components/layouts/AppLayoutManager.tsx
  pages/_app.tsx
Due: eslint --fix

Strengthen layout routing precedence and billing shell
  Docs/layouts-enterprise-gap-review.md
  components/layouts/AppLayoutManager.tsx
  components/layouts/BillingLayout.tsx
Due: eslint --fix, prettier --write

Keep homepage on native shell by skipping marketing wrapper
  components/layouts/AppLayoutManager.tsx
Due: eslint --fix

Expand route layout map with app shell families
  lib/routes/routeLayoutMap.ts
Due: eslint --fix

Standardize page layout fallback and document page-layout mapping
  Docs/layout-standardization-review.md
  Docs/page-layout-mapping.md
  components/layouts/AppLayoutManager.tsx
Due: eslint --fix, prettier --write

Refactor pages to rely on centralized app shell layouts
  components/layouts/AppLayoutManager.tsx
  components/layouts/ExamResourceLayout.tsx
  components/layouts/WritingLayout.tsx
  pages/_app.tsx
  pages/admin/analytics.tsx
  pages/dashboard/ai-reports.tsx
  pages/dashboard/billing.tsx
  pages/dashboard/index.tsx
  pages/dashboard/progress.tsx
  pages/dashboard/reading.tsx
  pages/dashboard/speaking.tsx
  pages/dashboard/writing.tsx
  pages/exam-day.tsx
  pages/exam/rehearsal.tsx
  pages/writing/library.tsx
  pages/writing/overview.tsx
  pages/writing/progress.tsx
Due: eslint --fix

Map all page routes to canonical layouts
  components/layouts/AppLayoutManager.tsx
  docs/layout-assignment-matrix.md
  lib/routes/routeLayoutMap.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
