Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Create reusable speaking practice hub and highlight (#361)
  components/sections/SpeakingPracticeHighlight.tsx
  components/speaking/BookmarkToggle.tsx
  components/speaking/PromptCard.tsx
  components/speaking/SpeakingFilterBar.tsx
  components/speaking/SpeakingPracticeHub.tsx
  data/speaking/packs_seed.json
  data/speaking/prompts_seed.json
  lib/analytics/events.ts
  lib/speaking/getSpeakingHubProps.ts
  pages/api/speaking/prompts/random.ts
  pages/api/speaking/prompts/save.ts
  pages/api/speaking/prompts/search.ts
  pages/index.tsx
  pages/practice/speaking.tsx
  pages/speaking/coach/free.tsx
  pages/speaking/index.tsx
  pages/speaking/library.tsx
  pages/speaking/packs/[slug].tsx
  pages/speaking/simulator/index.tsx
  scripts/seed_speaking_prompts.ts
  supabase/migrations/20260401_speaking_prompt_library.sql
  types/speakingPracticeHub.ts
  types/speakingPrompts.ts
  types/supabase.ts
Due: eslint --fix, prettier --write

Refactor layout orchestration (#362)
  components/layouts/AppLayoutManager.tsx
  pages/_app.tsx
Due: eslint --fix

chore: add mail/pdf/ocr deps and server-only guards
  package-lock.json
Due: prettier --write

chore: remove vercel.json to skip Hobby cron jobs
  public/premium.css
  vercel.json
Due: prettier --write

chore(cron): move schedules to GitHub Actions with HMAC + retries
  .github/workflows/cron-daily.yml
  .github/workflows/cron-dispatch.yml
  lib/cron/auth.ts
Due: eslint --fix

Improve route loading overlay responsiveness
  components/common/RouteLoadingOverlay.tsx
  pages/_app.tsx
Due: eslint --fix

Improve route loading overlay responsiveness (#363)
  components/common/RouteLoadingOverlay.tsx
  pages/_app.tsx
Due: eslint --fix

Fix streak heatmap crash and explain streak rules
  components/user/StreakHeatmap.tsx
  pages/profile/streak.tsx
Due: eslint --fix

chore(review): add Portal Review Issue Sheet (with dropdowns)
  docs/review/Portal_Review_Issue_Sheet_v2.xlsx
Due: none

Fix streak heatmap crash and explain streak rules (#364)
  components/user/StreakHeatmap.tsx
  pages/profile/streak.tsx
Due: eslint --fix

Guard peer review interactions behind sign-in
  pages/community/review/index.tsx
Due: eslint --fix

Guard peer review interactions behind sign-in (#366)
  pages/community/review/index.tsx
Due: eslint --fix

Add Infinite Applications vocabulary landing page
  pages/vocabulary/infiniteapplications.tsx
Due: eslint --fix

Add Infinite Applications vocabulary landing page (#367)
  pages/vocabulary/infiniteapplications.tsx
Due: eslint --fix

Changes done
  .history/.github/workflows/cron-daily_20251030015710.yml
  .history/.github/workflows/cron-daily_20251030015716.yml
  .history/.github/workflows/cron-daily_20251030015717.yml
  .history/.github/workflows/cron-dispatch_20251030015651.yml
  .history/.github/workflows/cron-dispatch_20251030015657.yml
  .history/lib/cron/auth_20251030015556.ts
  .history/lib/cron/auth_20251030015604.ts
  .history/lib/cron/auth_20251030015605.ts
  .history/supabase/migrations/00_utils_20251030021622.sql
  .history/supabase/migrations/00_utils_20251030021627.sql
  .history/supabase/migrations/00_utils_20251030021628.sql
  .history/supabase/migrations/20260330_pronunciation_coach_20251029211111.sql
  .history/supabase/migrations/20260330_pronunciation_coach_20251030021959.sql
  .history/supabase/migrations/20260331_adaptive_paths_20251029211111.sql
  .history/supabase/migrations/20260331_adaptive_paths_20251030025726.sql
  .history/supabase/migrations/20260331_adaptive_paths_20251030025727.sql
  .history/supabase/migrations/20260331_adaptive_paths_20251030025800.sql
  .history/supabase/migrations/20260331_adaptive_paths_20251030025802.sql
  .history/supabase/migrations/20260331_adaptive_paths_20251030030523.sql
  supabase/migrations/00_utils.sql
Due: none

Changes done
  supabase/migrations/00_utils.sql
  supabase/migrations/20260330_pronunciation_coach.sql
  supabase/migrations/20260331_adaptive_paths.sql
Due: none

chore: ignore artifacts and remove accidental zip from repo
  .gitignore
  supabase.zip
Due: none

chore(review): add Portal Review Issue Sheet (with dropdowns) (#365)
  docs/review/Portal_Review_Issue_Sheet_v2.xlsx
Due: none

Fix checkout plan and cycle routing
  components/sections/Pricing.tsx
  pages/checkout/index.tsx
Due: eslint --fix

Fix checkout plan and cycle routing (#369)
  components/sections/Pricing.tsx
  pages/checkout/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
