Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add offline writing offline assets and sync handling
  lib/offline/background-sync.ts
  lib/offline/packages/writing.bundle.json
  lib/writing/autosave.ts
  next.config.mjs
  pages/api/mock/writing/sync-batch.ts
  public/offline/writing/prompts.json
  public/offline/writing/templates/task1-academic.md
  public/offline/writing/templates/task1-general-letter.md
  public/offline/writing/templates/task2-essay-outline.md
  public/sw-push.js
  tests/offline/mobile-writing.spec.ts
  tools/run-tests.ts
Due: eslint --fix, prettier --write

feat: add push notification infrastructure (#300)
  lib/env.ts
  lib/push/client.ts
  lib/push/topics.ts
  next.config.mjs
  pages/api/push/register.ts
  public/sw-patches/push-handler.js
  supabase/functions/push-dispatch/index.ts
  supabase/migrations/20250910_push_tokens.sql
  tests/mobile/push-flow.spec.ts
  types/supabase.ts
Due: eslint --fix

feat: add mobile install and push prompts
  components/mobile/BottomActionBar.tsx
  components/mobile/InstallBanner.tsx
  components/mobile/KeyboardAwareSheet.tsx
  components/mobile/PushOptInCard.tsx
  components/mobile/SafeArea.tsx
  components/writing/WritingExamRoom.tsx
  hooks/useInstallPrompt.ts
  hooks/useInstalledApp.ts
  lib/analytics/events.ts
  lib/analytics/track.ts
  lib/plan/gates.ts
  pages/_app.tsx
  pages/mock/writing/[id].tsx
  pages/mock/writing/results/[attemptId].tsx
  tests/a11y/mobile-exam-room.spec.tsx
Due: eslint --fix

feat(android): scaffold twa module and asset links (#298)
  mobile/android/app/build.gradle
  mobile/android/settings.gradle
  mobile/android/twa/README.md
  mobile/android/twa/assetlinks.json
  mobile/android/twa/build.gradle
  mobile/android/twa/proguard-rules.pro
  mobile/android/twa/src/main/AndroidManifest.xml
  mobile/android/twa/src/main/res/drawable/ic_launcher_foreground.xml
  mobile/android/twa/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/twa/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/android/twa/src/main/res/values-night/colors.xml
  mobile/android/twa/src/main/res/values/arrays.xml
  mobile/android/twa/src/main/res/values/colors.xml
  mobile/android/twa/src/main/res/values/strings.xml
  mobile/android/twa/src/main/res/xml/filepaths.xml
  mobile/android/twa/src/main/res/xml/network_security_config.xml
  pages/.well-known/assetlinks.json
Due: prettier --write

Fix PWA config additional manifest entries
  next.config.mjs
Due: none

Add offline writing bundle and background sync utilities (#301)
  lib/offline/background-sync.ts
  lib/offline/packages/writing.bundle.json
  lib/writing/autosave.ts
  next.config.mjs
  pages/api/mock/writing/sync-batch.ts
  public/offline/writing/prompts.json
  public/offline/writing/templates/task1-academic.md
  public/offline/writing/templates/task1-general-letter.md
  public/offline/writing/templates/task2-essay-outline.md
  public/sw-push.js
  tests/offline/mobile-writing.spec.ts
  tools/run-tests.ts
Due: eslint --fix, prettier --write

fix: rename installed app hook to tsx
  components/mobile/BottomActionBar.tsx
  components/mobile/InstallBanner.tsx
  components/mobile/KeyboardAwareSheet.tsx
  components/mobile/PushOptInCard.tsx
  components/mobile/SafeArea.tsx
  components/writing/WritingExamRoom.tsx
  hooks/useInstallPrompt.ts
  hooks/useInstalledApp.tsx
  lib/analytics/events.ts
  lib/analytics/track.ts
  lib/plan/gates.ts
  pages/_app.tsx
  pages/mock/writing/[id].tsx
  pages/mock/writing/results/[attemptId].tsx
  tests/a11y/mobile-exam-room.spec.tsx
Due: eslint --fix

fix: rename installed app hook to tsx (#304)
  components/mobile/BottomActionBar.tsx
  components/mobile/InstallBanner.tsx
  components/mobile/KeyboardAwareSheet.tsx
  components/mobile/PushOptInCard.tsx
  components/mobile/SafeArea.tsx
  components/writing/WritingExamRoom.tsx
  hooks/useInstallPrompt.ts
  hooks/useInstalledApp.tsx
  lib/analytics/events.ts
  lib/analytics/track.ts
  lib/plan/gates.ts
  pages/_app.tsx
  pages/mock/writing/[id].tsx
  pages/mock/writing/results/[attemptId].tsx
  tests/a11y/mobile-exam-room.spec.tsx
Due: eslint --fix

Add compliant legal pages and mobile store collateral
  docs/deeplink_matrix.md
  docs/mobile_release.md
  docs/push_ops.md
  docs/store_listings.md
  pages/data-deletion.tsx
  pages/legal/privacy.tsx
  pages/legal/terms.tsx
  pages/pricing/index.tsx
  public/store/feature-graphics/app-store-feature.svg
  public/store/feature-graphics/google-play-feature.svg
  public/store/screenshots/app-store/01-dashboard.svg
  public/store/screenshots/app-store/02-speaking.svg
  public/store/screenshots/google-play/01-lesson.svg
  public/store/screenshots/google-play/02-ai-feedback.svg
Due: eslint --fix, prettier --write

Add compliant legal pages and mobile store collateral (#305)
  docs/deeplink_matrix.md
  docs/mobile_release.md
  docs/push_ops.md
  docs/store_listings.md
  pages/data-deletion.tsx
  pages/legal/privacy.tsx
  pages/legal/terms.tsx
  pages/pricing/index.tsx
  public/store/feature-graphics/app-store-feature.svg
  public/store/feature-graphics/google-play-feature.svg
  public/store/screenshots/app-store/01-dashboard.svg
  public/store/screenshots/app-store/02-speaking.svg
  public/store/screenshots/google-play/01-lesson.svg
  public/store/screenshots/google-play/02-ai-feedback.svg
Due: eslint --fix, prettier --write

feat: add mobile release automation and guardrails
  .github/workflows/ci.yml
  .github/workflows/mobile-android.yml
  .github/workflows/mobile-ios.yml
  docs/mobile/CHANGELOG.md
  mobile/android/version.json
  mobile/ios/version.json
  tests/perf/mobile-lcp-inp.spec.ts
  tools/mobile/versioning.ts
  tools/run-tests.ts
Due: prettier --write

feat: add mobile release automation and guardrails (#306)
  .github/workflows/ci.yml
  .github/workflows/mobile-android.yml
  .github/workflows/mobile-ios.yml
  docs/mobile/CHANGELOG.md
  mobile/android/version.json
  mobile/ios/version.json
  tests/perf/mobile-lcp-inp.spec.ts
  tools/mobile/versioning.ts
  tools/run-tests.ts
Due: prettier --write

fix(theme): proper brave toggling and restore xp helpers
  components/design-system/Button.tsx
  components/design-system/Card.tsx
  components/design-system/ThemeToggle.tsx
  components/layouts/ExamLayout.tsx
  components/navigation/IconOnlyThemeToggle.tsx
  features/profile/setup/ProfileSetupLayout.tsx
  lib/gamification/xp.ts
  lib/theme/applyTheme.ts
  lib/vocabulary/data.ts
  middleware.ts
  pages/_app.tsx
  pages/index.tsx
  styles/theme.brave.css
  styles/theme.utilities.css
  styles/themes/index.css
  tailwind.config.js
  tailwind.config.premium.js
Due: eslint --fix, prettier --write

Add realistic writing exam sets
  docs/writing-test-guidelines.md
  tests/components/WritingExamRoom.test.tsx
Due: prettier --write

chore(db): add placeholders for remote migrations 20250811000003, 20251023105727
  supabase/migrations/20250811000003_remote_placeholder.sql
  supabase/migrations/20251023105727_remote_placeholder.sql
Due: none

Refine IELTS reading summary prompts
  data/reading/reading-test-1.json
Due: prettier --write

Add listening practice listing page
  data/listening/index.ts
  pages/mock-tests/listening.tsx
Due: eslint --fix

Supabase and other changes
  listening_core_files.txt
  listening_files.csv
  listening_files.txt
  mock_dir_files.txt
  public/premium.css
  supabase/migrations/2025-08-11 00:00:01_remote_placeholder.sql
  supabase/migrations/20250825_remote_placeholder.sql
  supabase/migrations/20251011999999_add_reading_tests_passage_text.sql
  supabase/migrations/20251012000000_add_reading_tests_slug.sql
  supabase/migrations/20251026171917_enable_uuid_extensions.sql
  supabase/migrations/20251026195702_fix_listening_responses_rls.sql
  supabase/migrations/20251026202621_add_user_id_to_listening_responses.sql
  supabase/migrations/20251026202903_add_user_id_listening_responses.sql
  supabase/migrations/20251026_enable_uuid_extensions.sql
  supabase/migrations/20251026_profiles_policies.sql
  supabase/migrations/20251026_profiles_rls_fix.sql
  supabase/migrations/20251027_fix_listening_responses_rls.sql
  supabase/migrations/20251027_fix_words_index.sql
  supabase/migrations/20251027_profiles_rls_hardening.sql
  supabase/migrations/_orphaned/20251011_listening_content.sql
  supabase/migrations/_orphaned/20251011_word_learning.sql
Due: prettier --write

Add listening practice listing page (#310)
  data/listening/index.ts
  pages/mock-tests/listening.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
