Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(saved): relocate category route under by-category
  components/SaveItemButton.tsx
  docs/baseline/component-matrix.v1.backup.json
  docs/baseline/component-matrix.v1.enriched.json
  docs/baseline/component-matrix.v1.json
  lib/saved.ts
  pages/api/saved/by-category/[category].ts
Due: eslint --fix, prettier --write

Fix public route regex anchoring
  lib/routeAccess.ts
Due: eslint --fix

Document public roadmap access updates (#211)
  docs/roadmap-public-access.md
  hooks/useRouteGuard.ts
  lib/roles.ts
  lib/routeAccess.ts
  tests/lib/routeAccess.test.ts
Due: eslint --fix, prettier --write

fix: align word APIs with Karachi timezone
  pages/api/words/learn.ts
  pages/api/words/today.ts
Due: eslint --fix

Handle missing Supabase env vars gracefully
  lib/supabaseBrowser.ts
Due: eslint --fix

Handle missing Supabase env vars gracefully (#213)
  lib/supabaseBrowser.ts
Due: eslint --fix

fix: align word APIs with Karachi timezone (#212)
  pages/api/words/learn.ts
  pages/api/words/today.ts
Due: eslint --fix

fix: align daily vocabulary date with timezone
  lib/daily-learning-time.ts
  pages/api/words/learn.ts
  pages/api/words/today.ts
Due: eslint --fix

Fix locale switcher to update context
  components/common/LocaleSwitcher.tsx
Due: eslint --fix

fix: align daily vocabulary date with timezone (#214)
  lib/daily-learning-time.ts
  pages/api/words/learn.ts
  pages/api/words/today.ts
Due: eslint --fix

fix: validate whatsapp tasks caller
  supabase/functions/whatsapp-tasks/index.ts
Due: none

fix: verify whatsapp tasks jwt
  supabase/functions/whatsapp-tasks/index.ts
Due: none

feat: add notifications preferences with WhatsApp opt-in (#203)
  components/notifications/NotificationPreferencesPanel.tsx
  db/migrations/024_notifications_consent.sql
  lib/schemas/notifications.ts
  pages/api/notifications/preferences.ts
  pages/notifications/index.tsx
  supabase/config.toml
  supabase/functions/whatsapp-tasks/index.ts
  types/supabase.ts
Due: eslint --fix

feat(saved): add typed saved list and delete endpoints (#186)
  components/SaveItemButton.tsx
  components/dashboard/SavedItems.tsx
  components/saved/List.tsx
  docs/baseline/component-matrix.v1.backup.json
  docs/baseline/component-matrix.v1.enriched.json
  docs/baseline/component-matrix.v1.json
  lib/saved.ts
  pages/api/saved/[id].ts
  pages/api/saved/by-category/[category].ts
  pages/api/saved/index.ts
  supabase/migrations/20251015_add_surrogate_id_to_user_bookmarks.sql
  tests/api/saved.service.test.ts
Due: eslint --fix, prettier --write

Add baseline quickstart CTA for study plan (#205)
  components/study/EmptyState.tsx
  package-lock.json
Due: eslint --fix, prettier --write

Codex/implement daily word learning feature (#216)
  lib/daily-learning-time.ts
  pages/api/words/learn.ts
  pages/api/words/today.ts
Due: eslint --fix

Codex/fix 404 error on view roadmap (#215)
  docs/roadmap-public-access.md
  hooks/useRouteGuard.ts
  lib/roles.ts
  lib/routeAccess.ts
  tests/lib/routeAccess.test.ts
Due: eslint --fix, prettier --write

docs: log onboarding to study plan e2e runs (#198)
  docs/testing/e2e/onboarding-profile-study-plan.md
Due: prettier --write

Enhance locale handling and translations for onboarding flows (#204)
  __snapshots__/i18n/keys.snap
  common/LocaleSwitcher.tsx
  components/common/LocaleSwitcher.tsx
  components/saved/List.tsx
  components/study/EmptyState.tsx
  components/study/PlanCard.tsx
  components/study/WeekGrid.tsx
  lib/i18n/dictionaries.ts
  lib/i18n/index.ts
  lib/locale.tsx
  locales/en/common.json
  locales/en/onboarding.json
  locales/en/profile.json
  locales/en/saved.json
  locales/en/study-plan.json
  locales/ur/common.json
  locales/ur/onboarding.json
  locales/ur/profile.json
  locales/ur/saved.json
  locales/ur/study-plan.json
  pages/_app.tsx
  pages/onboarding/index.tsx
  pages/profile/index.tsx
  pages/saved/index.tsx
  pages/settings/language.tsx
  pages/study-plan/index.tsx
Due: eslint --fix, prettier --write

docs: log user module analytics qa verification (#201)
  trackor/user.html
Due: none

Improve layout responsiveness and safe areas
  components/Layout.tsx
  components/layouts/AdminLayout.tsx
  components/layouts/AuthLayout.tsx
  components/layouts/CommunityLayout.tsx
  components/layouts/DashboardLayout.tsx
  components/layouts/ExamLayout.tsx
  components/layouts/InstitutionsLayout.tsx
  components/layouts/LearningLayout.tsx
  components/layouts/MarketplaceLayout.tsx
  components/layouts/ProctoringLayout.tsx
  components/layouts/PublicMarketingLayout.tsx
  components/layouts/ReportsLayout.tsx
  pages/_app.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
