Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(streak): sync broadcasts and cover api edge cases
  components/streak/StreakCounter.tsx
  hooks/useStreak.ts
  lib/streak.ts
  pages/api/streak.ts
  tests/api/streak.test.ts
  types/streak.ts
Due: eslint --fix

Add gamification fallback for Word of the Day
  components/feature/WordOfTheDayCard.tsx
Due: eslint --fix

fix(streak): sync broadcasts and cover api edge cases (#258)
  components/streak/StreakCounter.tsx
  hooks/useStreak.ts
  lib/streak.ts
  pages/api/streak.ts
  tests/api/streak.test.ts
  types/streak.ts
Due: eslint --fix

Add gamification fallback for Word of the Day (#259)
  components/feature/WordOfTheDayCard.tsx
Due: eslint --fix

Fix collocation attempt correctness clamping
  pages/api/gamification/challenges/progress.ts
Due: eslint --fix

fix: handle initial session events
  pages/api/auth/set-session.ts
Due: eslint --fix

fix: handle initial session events (#260)
  pages/api/auth/set-session.ts
Due: eslint --fix

feat: spotlight challenges on welcome page (#262)
  GTM_Implementation_Tracker_FilesByPhase.md
  components/sections/Hero.tsx
  data/content/word-packs.csv
  data/content/word-packs.json
  features.md
  features/profile/setup/ProfileSetupLayout.tsx
  lib/content/validate.ts
  lib/content/word-packs.ts
  pages/api/streak.ts
  pages/dashboard/index.tsx
  pages/internal/content/playground.tsx
  pages/welcome/index.tsx
  public/premium.css
  scripts/lint_content.ts
  supabase/migrations/20260305_phase8_content_ops.sql
  supabase/seed/word_packs.sql
  tests/content/word-packs-lint.test.ts
  tools/generate_word_bank.py
Due: eslint --fix, prettier --write

Refine four-skill spotlight design
  components/review/FourSkillSpotlight.tsx
  components/review/LearningPathChip.tsx
  components/review/TodayReviewsPanel.tsx
  data/generated/collocations-phase2.json
  data/generated/examples-phase2.json
  data/generated/words-phase2.json
  docs/vocab-spec.md
  docs/vocab-srs-phase1.md
  docs/vocab-srs-phase2.md
  docs/vocab-srs-phase3.md
  lib/spaced-repetition/index.ts
  pages/api/listening/attempt.ts
  pages/api/reading/attempt.ts
  pages/api/review/due.ts
  pages/api/review/grade.ts
  pages/api/review/suspend.ts
  pages/api/speaking/attempt.ts
  pages/api/writing/eval.ts
  pages/dashboard/index.tsx
  scripts/generate_vocab_phase2.ts
  supabase/migrations/20251020_vocab_srs_schema.sql
  supabase/migrations/20251025_vocab_phase2_schema.sql
  supabase/migrations/20251026_vocab_phase2_seed.sql
  supabase/migrations/20251115_vocab_phase3_schema.sql
  supabase/migrations/20251120_vocab_phase3b_skills.sql
  types/review.ts
  types/supabase.ts
Due: eslint --fix, prettier --write

fix(migrations): move backups back to supabase/migrations; keep schedules; ignore temp/backup; remove duplicate SR
  .gitignore
  package-lock.json
  supabase/config.toml
Due: prettier --write

fix: export ProfileSetupLayout named+default; restore spaced-repetition helpers used by review/grade
  features/profile/setup/ProfileSetupLayout.tsx
  lib/spaced-repetition/index.ts
Due: eslint --fix

feat(sr): add scheduleReview used by /api/review/grade
  lib/spaced-repetition/index.ts
Due: eslint --fix

Align SR + API files with codex branch (scheduleReview, attempt, due, dashboard)
  lib/spaced-repetition/index.ts
  pages/api/reading/attempt.ts
  pages/api/review/due.ts
  pages/dashboard/index.tsx
Due: eslint --fix

Fix trigger creation in vocab phase 3b migration
  supabase/migrations/20251120_vocab_phase3b_skills.sql
Due: none

Add SSR-powered launch countdown
  components/launch/LaunchCountdown.tsx
  components/sections/Hero.tsx
  lib/config/launchDate.ts
  lib/time/remaining.ts
  pages/index.tsx
Due: eslint --fix

Fix trigger creation in vocab phase 3b migration (#264)
  supabase/migrations/20251120_vocab_phase3b_skills.sql
Due: none

Add SSR-powered launch countdown (#265)
  components/launch/LaunchCountdown.tsx
  components/sections/Hero.tsx
  lib/config/launchDate.ts
  lib/time/remaining.ts
  pages/index.tsx
Due: eslint --fix

Remove deprecated Next.js image domains config
  next.config.mjs
Due: none

Remove deprecated Next.js image domains config (#266)
  next.config.mjs
Due: none

Fix trigger creation in vocab phase 3b migration (#264) (#267)
  supabase/migrations/20251120_vocab_phase3b_skills.sql
Due: none

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
