Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Fix PWA importScripts config
  docs/testing/manual-offline-sync.md
  lib/offline/draftQueue.ts
  lib/offline/indexedDb.ts
  lib/offline/syncOrchestrator.ts
  lib/offlineSync.ts
  lib/writing/autosave.ts
  next.config.mjs
  pages/api/offline/sync.ts
  public/sw-sync.js
Due: eslint --fix, prettier --write

Fix PWA importScripts config (#292)
  docs/testing/manual-offline-sync.md
  lib/offline/draftQueue.ts
  lib/offline/indexedDb.ts
  lib/offline/syncOrchestrator.ts
  lib/offlineSync.ts
  lib/writing/autosave.ts
  next.config.mjs
  pages/api/offline/sync.ts
  public/sw-sync.js
Due: eslint --fix, prettier --write

Add accessibility hints to writing results flows
  components/writing/AccessibilityHints.tsx
  locales/en/common.json
  locales/ur/common.json
  pages/mock/writing/results/[attemptId].tsx
  pages/mock/writing/review/[attemptId].tsx
  tests/a11y/AccessibilityHints.a11y.test.tsx
Due: eslint --fix, prettier --write

Add accessibility hints to writing results flows (#293)
  components/writing/AccessibilityHints.tsx
  locales/en/common.json
  locales/ur/common.json
  pages/mock/writing/results/[attemptId].tsx
  pages/mock/writing/review/[attemptId].tsx
  tests/a11y/AccessibilityHints.a11y.test.tsx
Due: eslint --fix, prettier --write

Enhance writing analytics tracking and XP achievements
  components/analytics/WritingWeeklyTrend.tsx
  components/writing/BandProgressChart.tsx
  lib/analytics/events.ts
  lib/analytics/writing-events.ts
  lib/gamification/xp.ts
  pages/_app.tsx
  pages/analytics/writing.tsx
  pages/api/gamification/award-writing.ts
  pages/mock-tests/analytics.tsx
  pages/mock/writing/results/[attemptId].tsx
  styles/themes/index.css
  styles/tokens.css
  tailwind.config.js
  tests/lib/gamification.xp.test.ts
Due: eslint --fix, prettier --write

Enhance writing analytics tracking and XP achievements (#294)
  components/analytics/WritingWeeklyTrend.tsx
  components/writing/BandProgressChart.tsx
  lib/analytics/events.ts
  lib/analytics/writing-events.ts
  lib/gamification/xp.ts
  pages/_app.tsx
  pages/analytics/writing.tsx
  pages/api/gamification/award-writing.ts
  pages/mock-tests/analytics.tsx
  pages/mock/writing/results/[attemptId].tsx
  styles/themes/index.css
  styles/tokens.css
  tailwind.config.js
  tests/lib/gamification.xp.test.ts
Due: eslint --fix, prettier --write

Fix flag hydration and adjust tests
  lib/flags/index.ts
  lib/supabaseAdmin.ts
  pages/api/analytics/writing/overview.ts
  tests/api/analytics.writing.overview.test.ts
  tests/api/flags.guard.test.ts
  tools/run-tests.ts
Due: eslint --fix

Refine payment selection and referral device checks
  components/account/ReferralCard.tsx
  components/billing/UpgradeDialog.tsx
  components/payments/CheckoutForm.tsx
  components/payments/PlanPicker.tsx
  components/referrals/RedeemBox.tsx
  lib/analytics/events.ts
  lib/analytics/track.ts
  lib/api/referrals.ts
  lib/payments/gateway.ts
  lib/payments/index.ts
  lib/payments/stripe.ts
  lib/plan/quotas.ts
  lib/referrals/credit-rules.ts
  pages/account/referrals.tsx
  pages/admin/partners/index.tsx
  pages/api/payments/create-intent.ts
  pages/api/payments/webhooks/local.ts
  pages/api/referrals/create-code.ts
  pages/api/referrals/create.ts
  pages/api/referrals/redeem.ts
  pages/api/referrals/stats.ts
  pages/api/webhooks/payment.ts
  pages/signup/phone.tsx
  supabase/migrations/20251026_create_payment_intents.sql
  supabase/migrations/20251026_create_referrals.sql
  types/payments.ts
  types/referrals.ts
Due: eslint --fix

Implement experiments framework and lifecycle worker
  components/exp/Variant.tsx
  lib/analytics/events.ts
  lib/exp/assign.ts
  lib/lifecycle/events.ts
  lib/lifecycle/templates.ts
  pages/api/exp/assign.ts
  pages/api/lifecycle/trigger.ts
  supabase/functions/lifecycle-worker/index.ts
  supabase/migrations/20251026_create_experiments.sql
  supabase/migrations/20251026_create_lifecycle_events.sql
  types/supabase.ts
Due: eslint --fix

Add organizations support and writing topics admin CMS
  components/orgs/OrgSwitcher.tsx
  lib/orgs/context.tsx
  lib/writing/topic-picker.ts
  pages/_app.tsx
  pages/admin/writing/topics.tsx
  pages/api/admin/writing/list.ts
  pages/api/admin/writing/topics.ts
  pages/api/orgs/create.ts
  pages/api/orgs/invite.ts
  pages/orgs/index.tsx
  supabase/migrations/20251026_create_orgs.sql
  supabase/migrations/20251026_create_writing_topics.sql
  types/supabase.ts
Due: eslint --fix

Add export pipeline and growth prompts
  components/account/ReferralCard.tsx
  components/billing/UpgradeDialog.tsx
  docs/bi_schema.md
  lib/exports/parquet.ts
  lib/exports/writingAttempts.ts
  lib/plan/gates.ts
  package-lock.json
  package.json
  pages/api/exports/analytics.parquet.ts
  pages/api/exports/attempts.csv.ts
  pages/mock/writing/results/[attemptId].tsx
  tools/bi/supabase_to_s3.ts
Due: eslint --fix, prettier --write

Fix client payment imports to avoid server module
  components/billing/UpgradeDialog.tsx
  components/payments/CheckoutForm.tsx
  components/payments/PlanPicker.tsx
Due: eslint --fix

feat(android): scaffold twa module and asset links
  mobile/android/app/build.gradle
  mobile/android/settings.gradle
  mobile/android/twa/README.md
  mobile/android/twa/assetlinks.json
  mobile/android/twa/build.gradle
  mobile/android/twa/proguard-rules.pro
  mobile/android/twa/src/main/AndroidManifest.xml
  mobile/android/twa/src/main/res/drawable/ic_launcher_foreground.xml
  mobile/android/twa/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/twa/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  mobile/android/twa/src/main/res/values-night/colors.xml
  mobile/android/twa/src/main/res/values/arrays.xml
  mobile/android/twa/src/main/res/values/colors.xml
  mobile/android/twa/src/main/res/values/strings.xml
  mobile/android/twa/src/main/res/xml/filepaths.xml
  mobile/android/twa/src/main/res/xml/network_security_config.xml
  pages/.well-known/assetlinks.json
Due: prettier --write

Add deeplink assets and resolver for mobile shells
  data/mobile/deeplinks.ts
  pages/.well-known/assetlinks.json.ts
  pages/api/deeplink/resolve.ts
  public/apple-app-site-association
  tests/mobile/deeplinks.spec.ts
  tools/run-tests.ts
Due: eslint --fix

feat: add push notification infrastructure
  lib/env.ts
  lib/push/client.ts
  lib/push/topics.ts
  next.config.mjs
  pages/api/push/register.ts
  public/sw-patches/push-handler.js
  supabase/functions/push-dispatch/index.ts
  supabase/migrations/20250910_push_tokens.sql
  tests/mobile/push-flow.spec.ts
  types/supabase.ts
Due: eslint --fix

Add deeplink assets and resolver for mobile shells (#299)
  data/mobile/deeplinks.ts
  pages/.well-known/assetlinks.json.ts
  pages/api/deeplink/resolve.ts
  public/apple-app-site-association
  tests/mobile/deeplinks.spec.ts
  tools/run-tests.ts
Due: eslint --fix

feat: add offline writing offline assets and sync handling
  lib/offline/background-sync.ts
  lib/offline/packages/writing.bundle.json
  lib/writing/autosave.ts
  next.config.mjs
  pages/api/mock/writing/sync-batch.ts
  public/offline/writing/prompts.json
  public/offline/writing/templates/task1-academic.md
  public/offline/writing/templates/task1-general-letter.md
  public/offline/writing/templates/task2-essay-outline.md
  public/sw-push.js
  tests/offline/mobile-writing.spec.ts
  tools/run-tests.ts
Due: eslint --fix, prettier --write
