Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Add Vercel Speed Insights to Next.js
  package-lock.json
  package.json
  pages/_app.tsx
Due: eslint --fix, prettier --write

Fix auth redirect loop by accepting Supabase project cookies
  middleware.ts
Due: none

Fix auth middleware cookie detection for Supabase session cookies (#33)
  middleware.ts
Due: none

Exclude app-build-manifest from PWA precache (#34)
  next.config.mjs
Due: none

Fix header auth state to show logged-in navigation
  components/Header.tsx
  components/navigation/DesktopNav.tsx
Due: eslint --fix

Fix post-login redirect flow and persist browser auth session
  hooks/useRouteGuard.ts
  lib/routeAccess.ts
  lib/supabaseBrowser.ts
Due: eslint --fix

Fix header not reflecting logged-in state after auth (#35)
  components/Header.tsx
  components/navigation/DesktopNav.tsx
  hooks/useRouteGuard.ts
  lib/routeAccess.ts
  lib/supabaseBrowser.ts
Due: eslint --fix

Fix auth redirect flow for login vs first-time signup onboarding
  lib/routeAccess.ts
  pages/api/auth/signup.ts
  pages/api/onboarding/complete.ts
  pages/signup/email.tsx
  pages/signup/phone.tsx
Due: eslint --fix

Fix auth redirect flow for login vs first-time signup onboarding (#36)
  lib/routeAccess.ts
  pages/api/auth/signup.ts
  pages/api/onboarding/complete.ts
  pages/signup/email.tsx
  pages/signup/phone.tsx
Due: eslint --fix

Implement premium route/data loading UX system
  app/dashboard/loading.tsx
  components/common/Loader.tsx
  components/design-system/Input.tsx
  components/design-system/Skeleton.tsx
  components/loading/LoadingProvider.tsx
  components/loading/RouteProgressBar.tsx
  components/loading/Skeletons.tsx
  components/loading/useDelayedVisibility.ts
  pages/_app.tsx
  pages/mock/writing/run.tsx
  pages/vocabulary/[word].tsx
Due: eslint --fix

Implement premium route/data loading UX system (#37)
  app/dashboard/loading.tsx
  components/common/Loader.tsx
  components/design-system/Input.tsx
  components/design-system/Skeleton.tsx
  components/loading/LoadingProvider.tsx
  components/loading/RouteProgressBar.tsx
  components/loading/Skeletons.tsx
  components/loading/useDelayedVisibility.ts
  pages/_app.tsx
  pages/mock/writing/run.tsx
  pages/vocabulary/[word].tsx
Due: eslint --fix

Add AI-powered 60-second vocabulary quiz flow
  Docs/vocab-quiz-migration.md
  components/quiz/QuizProgressBar.tsx
  components/quiz/QuizQuestionCard.tsx
  components/quiz/QuizResultSummary.tsx
  components/quiz/QuizTimer.tsx
  components/quiz/VocabInsightsCards.tsx
  components/quiz/VocabQuizModal.tsx
  components/quiz/VocabQuizTrigger.tsx
  components/quiz/WordStrengthIndicator.tsx
  hooks/useVocabQuiz.ts
  lib/ai/quizScoring.ts
  lib/services/vocabQuizService.ts
  pages/api/quiz/vocab/insights.ts
  pages/api/quiz/vocab/start.ts
  pages/api/quiz/vocab/submit.ts
  pages/dashboard/progress.tsx
  pages/index.tsx
  pages/profile/index.tsx
  pages/progress/index.tsx
Due: eslint --fix, prettier --write

Add AI-powered 60-second vocabulary quiz flow (#38)
  Docs/vocab-quiz-migration.md
  components/quiz/QuizProgressBar.tsx
  components/quiz/QuizQuestionCard.tsx
  components/quiz/QuizResultSummary.tsx
  components/quiz/QuizTimer.tsx
  components/quiz/VocabInsightsCards.tsx
  components/quiz/VocabQuizModal.tsx
  components/quiz/VocabQuizTrigger.tsx
  components/quiz/WordStrengthIndicator.tsx
  hooks/useVocabQuiz.ts
  lib/ai/quizScoring.ts
  lib/services/vocabQuizService.ts
  pages/api/quiz/vocab/insights.ts
  pages/api/quiz/vocab/start.ts
  pages/api/quiz/vocab/submit.ts
  pages/dashboard/progress.tsx
  pages/index.tsx
  pages/profile/index.tsx
  pages/progress/index.tsx
Due: eslint --fix, prettier --write

Fix header/nav auth rendering across desktop and mobile
  components/Header.tsx
  components/hooks/useHeaderState.ts
  components/navigation/DesktopNav.tsx
  components/navigation/MobileNav.tsx
Due: eslint --fix

Fix header/nav auth rendering across desktop and mobile (#39)
  components/Header.tsx
  components/hooks/useHeaderState.ts
  components/navigation/DesktopNav.tsx
  components/navigation/MobileNav.tsx
Due: eslint --fix

Add executable Supabase SQL migration for vocab quiz tables
  Docs/vocab-quiz-migration.md
  components/quiz/QuizProgressBar.tsx
  components/quiz/QuizQuestionCard.tsx
  components/quiz/QuizResultSummary.tsx
  components/quiz/QuizTimer.tsx
  components/quiz/VocabInsightsCards.tsx
  components/quiz/VocabQuizModal.tsx
  components/quiz/VocabQuizTrigger.tsx
  components/quiz/WordStrengthIndicator.tsx
  hooks/useVocabQuiz.ts
  lib/ai/quizScoring.ts
  lib/services/vocabQuizService.ts
  pages/api/quiz/vocab/insights.ts
  pages/api/quiz/vocab/start.ts
  pages/api/quiz/vocab/submit.ts
  pages/dashboard/progress.tsx
  pages/index.tsx
  pages/profile/index.tsx
  pages/progress/index.tsx
  supabase/migrations/20260417000000_vocab_quiz_engine.sql
Due: eslint --fix, prettier --write

Revert "Add AI-powered 60-second vocabulary quiz flow (#38)"
  Docs/vocab-quiz-migration.md
  components/quiz/QuizProgressBar.tsx
  components/quiz/QuizQuestionCard.tsx
  components/quiz/QuizResultSummary.tsx
  components/quiz/QuizTimer.tsx
  components/quiz/VocabInsightsCards.tsx
  components/quiz/VocabQuizModal.tsx
  components/quiz/VocabQuizTrigger.tsx
  components/quiz/WordStrengthIndicator.tsx
  hooks/useVocabQuiz.ts
  lib/ai/quizScoring.ts
  lib/services/vocabQuizService.ts
  pages/api/quiz/vocab/insights.ts
  pages/api/quiz/vocab/start.ts
  pages/api/quiz/vocab/submit.ts
  pages/dashboard/progress.tsx
  pages/index.tsx
  pages/profile/index.tsx
  pages/progress/index.tsx
Due: eslint --fix, prettier --write

Revert "Add AI-powered 60-second vocabulary quiz flow (#38)" (#41)
  Docs/vocab-quiz-migration.md
  components/quiz/QuizProgressBar.tsx
  components/quiz/QuizQuestionCard.tsx
  components/quiz/QuizResultSummary.tsx
  components/quiz/QuizTimer.tsx
  components/quiz/VocabInsightsCards.tsx
  components/quiz/VocabQuizModal.tsx
  components/quiz/VocabQuizTrigger.tsx
  components/quiz/WordStrengthIndicator.tsx
  hooks/useVocabQuiz.ts
  lib/ai/quizScoring.ts
  lib/services/vocabQuizService.ts
  pages/api/quiz/vocab/insights.ts
  pages/api/quiz/vocab/start.ts
  pages/api/quiz/vocab/submit.ts
  pages/dashboard/progress.tsx
  pages/index.tsx
  pages/profile/index.tsx
  pages/progress/index.tsx
Due: eslint --fix, prettier --write

Add executable Supabase SQL migration for vocab quiz tables (#40)
  Docs/vocab-quiz-migration.md
  components/quiz/QuizProgressBar.tsx
  components/quiz/QuizQuestionCard.tsx
  components/quiz/QuizResultSummary.tsx
  components/quiz/QuizTimer.tsx
  components/quiz/VocabInsightsCards.tsx
  components/quiz/VocabQuizModal.tsx
  components/quiz/VocabQuizTrigger.tsx
  components/quiz/WordStrengthIndicator.tsx
  hooks/useVocabQuiz.ts
  lib/ai/quizScoring.ts
  lib/services/vocabQuizService.ts
  pages/api/quiz/vocab/insights.ts
  pages/api/quiz/vocab/start.ts
  pages/api/quiz/vocab/submit.ts
  pages/dashboard/progress.tsx
  pages/index.tsx
  pages/profile/index.tsx
  pages/progress/index.tsx
  supabase/migrations/20260417000000_vocab_quiz_engine.sql
Due: eslint --fix, prettier --write

docs: add consistency review for share flows
  docs/share-files-consistency-review.md
Due: prettier --write

feat: unify progress sharing with expiring signed tokens
  lib/env.ts
  lib/review/shareToken.test.ts
  lib/review/shareToken.ts
  pages/api/progress/share.ts
  pages/progress/[token].tsx
  supabase/migrations/20260418000000_progress_share_policy_hardening.sql
Due: eslint --fix

docs: add share-files consistency review (#42)
  docs/share-files-consistency-review.md
  lib/env.ts
  lib/review/shareToken.test.ts
  lib/review/shareToken.ts
  pages/api/progress/share.ts
  pages/progress/[token].tsx
  supabase/migrations/20260418000000_progress_share_policy_hardening.sql
Due: eslint --fix, prettier --write

Unify account/settings auth redirects across protected pages
  lib/requirePageAuth.ts
  pages/profile/account/activity.tsx
  pages/profile/account/billing.tsx
  pages/profile/account/index.tsx
  pages/profile/account/redeem.tsx
  pages/profile/account/referrals.tsx
  pages/profile/billing.tsx
  pages/profile/streak.tsx
  pages/settings/accessibility.tsx
  pages/settings/billing.tsx
  pages/settings/index.tsx
  pages/settings/language.tsx
  pages/settings/notifications.tsx
  pages/settings/security.tsx
Due: eslint --fix

Unify account/settings auth redirects across protected pages (#44)
  lib/requirePageAuth.ts
  pages/profile/account/activity.tsx
  pages/profile/account/billing.tsx
  pages/profile/account/index.tsx
  pages/profile/account/redeem.tsx
  pages/profile/account/referrals.tsx
  pages/profile/billing.tsx
  pages/profile/streak.tsx
  pages/settings/accessibility.tsx
  pages/settings/billing.tsx
  pages/settings/index.tsx
  pages/settings/language.tsx
  pages/settings/notifications.tsx
  pages/settings/security.tsx
Due: eslint --fix

Centralize auth route matching across middleware and app shell
  lib/authRedirect.ts
  lib/requirePageAuth.ts
  middleware.ts
  pages/_app.tsx
  pages/profile/account/activity.tsx
  pages/profile/account/billing.tsx
  pages/profile/account/index.tsx
  pages/profile/account/redeem.tsx
  pages/profile/account/referrals.tsx
  pages/profile/billing.tsx
  pages/profile/streak.tsx
  pages/settings/accessibility.tsx
  pages/settings/billing.tsx
  pages/settings/index.tsx
  pages/settings/language.tsx
  pages/settings/notifications.tsx
  pages/settings/security.tsx
Due: eslint --fix

Centralize auth route matching across middleware and app shell (#45)
  lib/authRedirect.ts
  lib/requirePageAuth.ts
  middleware.ts
  pages/_app.tsx
Due: eslint --fix

Fix header auth hydration race and guest UI flicker
  components/Header.tsx
  components/hooks/useHeaderState.ts
Due: eslint --fix

Align mobile streak chip visibility with auth state
  components/navigation/MobileNav.tsx
Due: eslint --fix

Stabilize header user id during auth hydration
  components/Header.tsx
Due: eslint --fix

Reduce header null-user flicker by stabilizing auth hydration (#46)
  components/Header.tsx
  components/hooks/useHeaderState.ts
Due: eslint --fix

Align mobile streak chip visibility with auth state (#47)
  components/navigation/MobileNav.tsx
Due: eslint --fix

Tokenize exam footer and question nav colors
  components/exam/ExamFooter.tsx
  components/exam/QuestionNav.tsx
Due: eslint --fix

Refine exam chrome colors via shared CSS module
  components/exam/ExamChrome.module.css
  components/exam/ExamFooter.tsx
  components/exam/QuestionNav.tsx
Due: eslint --fix, prettier --write

Revert "Reduce header null-user flicker by stabilizing auth hydration (#46)"
  components/Header.tsx
  components/hooks/useHeaderState.ts
Due: eslint --fix

Add roadmap and update dependencies
  GRAMORX-ENTERPRISE-ROADMAP.md
  package-lock.json
  scripts/dev-next.mjs
Due: prettier --write
