Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Add teacher review telemetry and audio caching headers (#108)
  lib/analytics/events.ts
  lib/monitoring/sentry.ts
  next.config.mjs
  pages/admin/reviews/[attemptId].tsx
  pages/api/admin/reviews/index.ts
Due: eslint --fix

Implement mistakes review and progress analytics updates (#109)
  components/mistakes/MistakeCard.tsx
  components/progress/TrendCharts.tsx
  components/settings/Accessibility.tsx
  context/HighContrastContext.tsx
  lib/analytics/progress.ts
  lib/mistakes.ts
  pages/_app.tsx
  pages/account/index.tsx
  pages/api/mistakes/index.ts
  pages/api/progress/index.ts
  pages/mistakes/index.tsx
  pages/progress/index.tsx
  pages/settings/accessibility.tsx
  styles/themes/index.css
  styles/tokens.css
  supabase/migrations/20251002_mistakes_review_queue.sql
Due: eslint --fix, prettier --write

Add AI coach chat placeholder and challenge updates (#110)
  components/challenge/BadgeStrip.tsx
  components/dashboard/ChallengeSpotlightCard.tsx
  lib/ai/guardrails.ts
  pages/api/coach/chat.ts
  pages/coach/index.tsx
  pages/dashboard/index.tsx
Due: eslint --fix

Implement notifications center and DS compliance guard (#111)
  .stylelintignore
  .stylelintrc.cjs
  azure-pipelines.yml
  eslint.config.mjs
  lib/schemas/notifications.ts
  package-lock.json
  package.json
  pages/api/notifications/[id].ts
  pages/api/notifications/index.ts
  pages/api/notifications/list.ts
  pages/api/notifications/nudge.ts
  pages/notifications/index.tsx
  tools/eslint-rules/no-inline-style.js
Due: eslint --fix, prettier --write

Add e2e coverage and i18n snapshot guard
  __snapshots__/i18n/keys.snap
  package.json
  playwright.config.ts
  scripts/i18n-check.ts
  tests/e2e/critical-path.spec.ts
Due: prettier --write

Add e2e coverage and i18n snapshot guard (#112)
  __snapshots__/i18n/keys.snap
  package.json
  playwright.config.ts
  scripts/i18n-check.ts
  tests/e2e/critical-path.spec.ts
Due: prettier --write

Update membership on active Stripe subscription changes
  pages/api/webhooks/payment.ts
Due: eslint --fix

Stop clearing submitted timestamps on draft autosave
  pages/api/writing/draft.ts
Due: eslint --fix

Ensure speaking checkpoints stay completed
  pages/mock/speaking/[id].tsx
Due: eslint --fix

Fix missing menu button ref in desktop nav
  components/navigation/DesktopNav.tsx
Due: eslint --fix

Handle legacy study plans on study plan page
  pages/study-plan/index.tsx
Due: eslint --fix

Fix study plan preset button nesting
  components/study/EmptyState.tsx
Due: eslint --fix

Allow relative notification URLs
  lib/schemas/notifications.ts
Due: eslint --fix

Fix coach tier lookup for rate limiting
  pages/api/coach/chat.ts
Due: eslint --fix

Fix audio header order
  next.config.mjs
Due: none

Fix progress band null handling and restore high contrast pref
  context/HighContrastContext.tsx
  pages/api/progress/index.ts
Due: eslint --fix

Stop clearing submitted timestamps on draft autosave (#114)
  pages/api/writing/draft.ts
Due: eslint --fix

Ensure speaking checkpoints stay completed (#115)
  pages/mock/speaking/[id].tsx
Due: eslint --fix

Fix missing menu button ref in desktop nav (#116)
  components/navigation/DesktopNav.tsx
Due: eslint --fix

Prevent auth bridge from redirecting signed-in users away
  pages/_app.tsx
Due: eslint --fix

Prevent auth bridge from redirecting signed-in users away (#126)
  pages/_app.tsx
Due: eslint --fix
