Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

Refactor AppLayoutManager to resolve layouts from route config
  components/layouts/AppLayoutManager.tsx
  pages/_app.tsx
Due: eslint --fix

Expand route layout map with app shell families (#83)
  lib/routes/routeLayoutMap.ts
Due: eslint --fix

Refactor pages to rely on centralized app shell layouts (#84)
  components/layouts/AppLayoutManager.tsx
  components/layouts/ExamResourceLayout.tsx
  components/layouts/WritingLayout.tsx
  pages/_app.tsx
  pages/admin/analytics.tsx
  pages/dashboard/ai-reports.tsx
  pages/dashboard/billing.tsx
  pages/dashboard/index.tsx
  pages/dashboard/progress.tsx
  pages/dashboard/reading.tsx
  pages/dashboard/speaking.tsx
  pages/dashboard/writing.tsx
  pages/exam-day.tsx
  pages/exam/rehearsal.tsx
  pages/writing/library.tsx
  pages/writing/overview.tsx
  pages/writing/progress.tsx
Due: eslint --fix

Map all page routes to canonical layouts (#86)
  components/layouts/AppLayoutManager.tsx
  docs/layout-assignment-matrix.md
  lib/routes/routeLayoutMap.ts
Due: eslint --fix, prettier --write

Refactor AppLayoutManager to resolve layouts from route config (#87)
  components/layouts/AppLayoutManager.tsx
  pages/_app.tsx
Due: eslint --fix

Fix header auth fallback and align language/cookie UI
  components/CookieConsentBanner.tsx
  components/Header.tsx
  components/navigation/DesktopNav.tsx
  pages/_app.tsx
Due: eslint --fix

Fix header auth fallback and align language/cookie UI (#88)
  components/CookieConsentBanner.tsx
  components/Header.tsx
  components/navigation/DesktopNav.tsx
  pages/_app.tsx
Due: eslint --fix

Add generated page inventory grouped by layout and status
  docs/page-layout-status.md
  scripts/page_layout_status_report.py
Due: prettier --write

Add page inventory grouped by layout with status
  docs/page-layout-status.md
Due: prettier --write

Add generated page inventory grouped by layout and status (#89)
  docs/page-layout-status.md
  scripts/page_layout_status_report.py
Due: prettier --write

Add page inventory grouped by layout with status (#90)
  docs/page-layout-status.md
Due: prettier --write

Fix syntax error in dev-next.mjs
  scripts/dev-next.mjs
Due: none

refactor dashboard system into unified design-system sections
  components/dashboard/AICommandCenter.tsx
  components/dashboard/AIOverviewPanel.tsx
  components/dashboard/ActionButtons.tsx
  components/dashboard/DashboardCard.tsx
  components/dashboard/MockSummary.tsx
  components/dashboard/PerformanceAnalytics.tsx
  components/dashboard/QuickActions.tsx
  components/dashboard/QuickActionsCard.tsx
  components/dashboard/SkillsOverview.tsx
  components/dashboard/SmartRecommendations.tsx
  components/dashboard/TierGuard.tsx
  components/dashboard/TopNavbar.tsx
  components/dashboard/UpgradeModal.tsx
  components/dashboard/sections/AnalyticsSection.tsx
  components/dashboard/sections/IdentityStatusSection.tsx
  components/dashboard/sections/MotivationSection.tsx
  components/dashboard/sections/NextActionsSection.tsx
  components/dashboard/sections/UtilitiesSection.tsx
  components/dashboard/sections/index.ts
  components/layouts/DashboardLayout.tsx
  pages/dashboard/index.tsx
Due: eslint --fix

remove unnecessary dashboard section files and simplify page composition
  components/dashboard/ActionButtons.tsx
  components/dashboard/sections/AnalyticsSection.tsx
  components/dashboard/sections/IdentityStatusSection.tsx
  components/dashboard/sections/MotivationSection.tsx
  components/dashboard/sections/NextActionsSection.tsx
  components/dashboard/sections/UtilitiesSection.tsx
  components/dashboard/sections/index.ts
  pages/dashboard/index.tsx
Due: eslint --fix

Refactor dashboard into unified design-system sections (#91)
  components/dashboard/AICommandCenter.tsx
  components/dashboard/AIOverviewPanel.tsx
  components/dashboard/ActionButtons.tsx
  components/dashboard/DashboardCard.tsx
  components/dashboard/MockSummary.tsx
  components/dashboard/PerformanceAnalytics.tsx
  components/dashboard/QuickActions.tsx
  components/dashboard/QuickActionsCard.tsx
  components/dashboard/SkillsOverview.tsx
  components/dashboard/SmartRecommendations.tsx
  components/dashboard/TierGuard.tsx
  components/dashboard/TopNavbar.tsx
  components/dashboard/UpgradeModal.tsx
  components/layouts/DashboardLayout.tsx
  pages/dashboard/index.tsx
Due: eslint --fix

Fix applayoutmanager
  components/layouts/AppLayoutManager.tsx
  components/navigation/Breadcrumbs.tsx
  pages/_app.tsx
Due: eslint --fix

WIP: Push all current changes for review
  project-files-report.csv
Due: none

refactor(dashboard): - Added DashboardSkeleton - Introduced useChallenges and useSavedItems hooks - Updated DashboardLayout - Standardized navigation components - Improved user hook structure
  all_files.txt
  components/dashboard/AIInsights.tsx
  components/dashboard/DashboardSkeleton.tsx
  components/dashboard/GamificationSummary.tsx
  components/dashboard/HeroSection.tsx
  components/dashboard/QuickActions.tsx
  components/dashboard/SavedItems.tsx
  components/dashboard/SavedWhatsAppSection.tsx
  components/dashboard/SkillsOverview.tsx
  components/dashboard/TodayTasks.tsx
  components/dashboard/TopNavbar.tsx
  components/layouts/DashboardLayout.tsx
  components/navigation/BottomNav.tsx
  components/navigation/DesktopNav.tsx
  components/navigation/Links.ts.del
  components/navigation/MobileNav.tsx
  dashboard_club.txt
  hooks/useChallenges.ts
  hooks/useSavedItems.ts
  hooks/useUser.ts
  package-lock.json
  package.json
  pages/dashboard/index.tsx
  project-files-report.csv
  types/dashboard.ts
Due: eslint --fix, prettier --write

Redesign dashboard page to match provided mockup layout
  pages/dashboard/index.tsx
Due: eslint --fix

Update profile save issue
  all_files.txt
  features/mock-reading/ReadingReviewView.tsx
  features/profile/setup/ProfileSetupLayout.tsx
  features/profile/setup/profileSetupUtils.ts
  features/profile/setup/useProfileSetup.tsx
  lib/exports/writingAttempts.ts
  lib/orgs/context.tsx
  lib/profile.ts
  lib/profile/update.ts
  pages/api/admin/writing/list.ts
  pages/api/onboarding/complete.ts
  pages/api/orgs/create.ts
  pages/api/orgs/invite.ts
  pages/onboarding/notifications.tsx
  project-files-report.csv
  types/supabase.ts
Due: eslint --fix

sign up redirection
  middleware.ts
  pages/auth/confirm.tsx
Due: eslint --fix

sign up redirection2
  middleware.ts
  pages/auth/confirm.tsx
Due: eslint --fix

sign up redirection3
  services/mistakesService.ts
  services/study-buddy/session.ts
Due: none

sign up redirection4
  pages/auth/confirm.tsx
Due: eslint --fix

sign up redirection5
  all_files.txt
  middleware.ts
  pages/api/auth/set-session.ts
  pages/api/auth/signup.ts
  pages/internal/content/playground.tsx
  pages/signup/password.tsx
Due: eslint --fix

feat: restructure account, profile, and settings routes with unified layout
  -path
  all_files.txt
  components/layouts/AppLayoutManager.tsx
  components/layouts/ProfileLayout.tsx
  middleware.ts
  pages/_app.tsx
  pages/account/activity.tsx
  pages/account/billing-history.tsx
  pages/account/billing.tsx
  pages/account/index.tsx
  pages/account/redeem.tsx
  pages/account/subscription.tsx
  pages/notifications/index.tsx
  pages/profile/account/activity.tsx
  pages/profile/account/referrals.tsx
  pages/profile/billing.tsx
  pages/profile/index.tsx
  pages/profile/setup/index.tsx
  pages/profile/streak.tsx
  pages/profile/subscription.tsx
  pages/settings/accessibility.tsx
  pages/settings/billing.tsx
  pages/settings/index.tsx
  pages/settings/language.tsx
  pages/settings/notifications/index.tsx
  pages/settings/security.tsx
Due: eslint --fix

fix: add missing Badge import in notifications
  pages/settings/notifications/index.tsx
Due: eslint --fix

fix: use npx in build script for Windows compatibility
  hooks/useAccessibility.ts
  scripts/next-build.mjs
Due: none

layout update of auth pages on mobile
  components/layouts/AuthLayout.tsx
  hooks/useAccessibility.ts
  project-files-report.csv
Due: eslint --fix

Feature/account restructure (#94)
  -path
  all_files.txt
  components/layouts/AppLayoutManager.tsx
  components/layouts/AuthLayout.tsx
  components/layouts/ProfileLayout.tsx
  hooks/useAccessibility.ts
  middleware.ts
  pages/_app.tsx
  pages/account/activity.tsx
  pages/account/billing-history.tsx
  pages/account/billing.tsx
  pages/account/index.tsx
  pages/account/redeem.tsx
  pages/account/subscription.tsx
  pages/notifications/index.tsx
  pages/profile/account/activity.tsx
  pages/profile/account/referrals.tsx
  pages/profile/billing.tsx
  pages/profile/index.tsx
  pages/profile/setup/index.tsx
  pages/profile/streak.tsx
  pages/profile/subscription.tsx
  pages/settings/accessibility.tsx
  pages/settings/billing.tsx
  pages/settings/index.tsx
  pages/settings/language.tsx
  pages/settings/notifications/index.tsx
  pages/settings/security.tsx
  project-files-report.csv
  scripts/next-build.mjs
Due: eslint --fix

fix: escape apostrophes and wrap ai in useMemo to resolve lint errors
  pages/dashboard/index.tsx
Due: eslint --fix

feat: add useStudyPlan hook
  hooks/useStudyPlan
Due: none

fix: add useStudyPlan hook with stub implementation
  hooks/useStudyPlan
  hooks/useStudyPlan.ts
Due: none

Feature/study plan integration (#95)
  hooks/useStudyPlan.ts
  pages/dashboard/index.tsx
Due: eslint --fix

Fixed email verification redirect issue (secrets removed)
  all_files.txt
  auth_export.txt
  components/layouts/AuthSidePanel.tsx
  context/ReadingExamContext.tsx
  deepseek_markdown_20260307_21a136 .md
  pages/api/auth/pkce-redirect.ts
  pages/signup/email.tsx
  project-files-report.csv
Due: eslint --fix, prettier --write

Feature/study plan integration (#96)
  all_files.txt
  auth_export.txt
  components/layouts/AuthSidePanel.tsx
  context/ReadingExamContext.tsx
  deepseek_markdown_20260307_21a136 .md
  pages/api/auth/pkce-redirect.ts
  pages/signup/email.tsx
  project-files-report.csv
Due: eslint --fix, prettier --write

Fix signup email confirmation routing and add OTP verification option
  lib/routeAccess.test.ts
  lib/routeAccess.ts
  lib/routes/routeLayoutMap.ts
  pages/signup/verify.tsx
Due: eslint --fix

Fix confirm-link redirect race and send email verification codes
  pages/_app.tsx
  pages/signup/email.tsx
  pages/signup/verify.tsx
Due: eslint --fix
