Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improve writing dashboard layout and loading overlay (#387)
  components/common/RouteLoadingOverlay.tsx
  pages/writing/index.tsx
Due: eslint --fix

feat: enhance writing dashboard prompts
  pages/api/writing/prompts/index.ts
  pages/writing/index.tsx
Due: eslint --fix

Enhance writing dashboard prompt workflows
  pages/api/ai/writing/prompts.ts
  pages/api/writing/prompts/index.ts
  pages/writing/index.tsx
Due: eslint --fix

Refactor writing studio into multi-page experience
  layouts/WritingLayout.tsx
  lib/writing/mappers.ts
  pages/api/ai/writing/prompts.ts
  pages/api/writing/prompts/index.ts
  pages/writing/index.tsx
  pages/writing/library.tsx
  pages/writing/overview.tsx
  pages/writing/progress.tsx
  types/writing-dashboard.ts
Due: eslint --fix

Enhance writing dashboard prompt workflows (#389)
  layouts/WritingLayout.tsx
  lib/writing/mappers.ts
  pages/api/ai/writing/prompts.ts
  pages/api/writing/prompts/index.ts
  pages/writing/index.tsx
  pages/writing/library.tsx
  pages/writing/overview.tsx
  pages/writing/progress.tsx
  types/writing-dashboard.ts
Due: eslint --fix

ci: add Dockerfile and CI entrypoint for supabase migrations & functions
  ci/Dockerfile
  ci/entrypoint.sh
Due: none

ci: add GitHub Actions workflow for Docker-based supabase deploy
  .github/workflows/docker-ci-deploy.yml
Due: none

ci: test supabase deploy
  README.md
Due: prettier --write

Fix unescaped entities in writing overview
  pages/writing/overview.tsx
Due: eslint --fix

Improve dashboard engagement components
  components/dashboard/DailyWeeklyChallenges.tsx
  components/dashboard/ShareLinkCard.tsx
  components/dashboard/WhatsAppOptIn.tsx
  pages/dashboard/index.tsx
Due: eslint --fix

Manually add the new features module
  components/innovation/AICoachPanel.tsx
  components/innovation/CoachCard.tsx
  components/innovation/MistakeItem.tsx
  components/innovation/MistakesBookPanel.tsx
  components/innovation/SessionBuilder.tsx
  components/innovation/StudyBuddyPanel.tsx
  components/innovation/TaskScheduler.tsx
  components/innovation/WhatsAppTasksPanel.tsx
  pages/api/study-buddy/sessions/[id].ts
  pages/api/study-buddy/sessions/[id]/start.ts
  pages/study-buddy/session/[id]/practice.tsx
Due: eslint --fix

chore: ignore env files and .history folder
  .gitignore
Due: none

fix: update study-buddy session handler and premium.css styling
  pages/api/study-buddy/sessions/[id].ts
Due: eslint --fix

chore: update .gitignore entries
  .gitignore
Due: none

fix(navigation): update navigation config
  config/navigation.ts
Due: none

refactor: consolidate onboarding to single student flow
  docs/onboarding-review.md
  lib/onboarding/exam-date.ts
  lib/onboarding/language.ts
  lib/onboarding/notifications.ts
  lib/onboarding/schema.ts
  lib/onboarding/study-rhythm.ts
  lib/onboarding/target-band.ts
  lib/profile/update.ts
  pages/api/onboarding/baseline.ts
  pages/api/onboarding/complete.ts
  pages/api/onboarding/goal.ts
  pages/api/onboarding/index.ts
  pages/api/onboarding/save-survey.ts
  pages/api/onboarding/study-rhythm.ts
  pages/api/onboarding/timeline.ts
  pages/api/onboarding/vibe.ts
  pages/onboarding/baseline.tsx
  pages/onboarding/diagnostic.tsx
  pages/onboarding/exam-date.tsx
  pages/onboarding/goal.tsx
  pages/onboarding/index.tsx
  pages/onboarding/skills.tsx
  pages/onboarding/study-rhythm.tsx
  pages/onboarding/target-band.tsx
  pages/onboarding/thinking.tsx
  pages/onboarding/timeline.tsx
  pages/onboarding/vibe.tsx
Due: eslint --fix, prettier --write

Add onboarding AI upgrade
  components/layouts/OnboardingLayout.tsx
  components/onboarding/StepShell.tsx
  pages/api/onboarding/baseline.ts
  pages/api/onboarding/diagnostic.ts
  pages/api/onboarding/goal.ts
  pages/onboarding/baseline.tsx
  pages/onboarding/diagnostic.tsx
  pages/onboarding/exam-date.tsx
  pages/onboarding/index.tsx
  pages/onboarding/notifications.tsx
  pages/onboarding/review.tsx
  pages/onboarding/study-rhythm.tsx
  pages/onboarding/target-band.tsx
  pages/onboarding/thinking.tsx
  pages/onboarding/welcome.tsx
Due: eslint --fix

Implement AI onboarding flow with Supabase persistence
  lib/onboarding/aiStudyPlan.ts
  pages/api/ai/generate-plan.ts
  pages/api/internal/auth/state.ts
  pages/dashboard/index.tsx
  pages/onboarding/index.tsx
  pages/onboarding/thinking.tsx
  supabase/migrations/20260225090000_user_onboarding.sql
Due: eslint --fix

Harden AI study plan generation with strict normalization
  lib/onboarding/aiStudyPlan.ts
  pages/api/ai/generate-plan.ts
Due: eslint --fix

Add reusable full-screen animated AI roadmap loader
  components/onboarding/AIRoadmapLoadingScreen.tsx
  pages/onboarding/thinking.tsx
Due: eslint --fix

Switch onboarding plan generation to deterministic rule engine
  lib/onboarding/aiStudyPlan.ts
  pages/api/ai/generate-plan.ts
Due: eslint --fix

Add onboarding migration with owner-only RLS and FK
  supabase/migrations/20260225113000_user_onboarding_owner_rls.sql
Due: none

Add AI-powered 4-step onboarding, Supabase onboarding table, and plan-generation API (#3)
  components/onboarding/AIRoadmapLoadingScreen.tsx
  lib/onboarding/aiStudyPlan.ts
  pages/api/ai/generate-plan.ts
  pages/api/internal/auth/state.ts
  pages/dashboard/index.tsx
  pages/onboarding/index.tsx
  pages/onboarding/thinking.tsx
  supabase/migrations/20260225090000_user_onboarding.sql
  supabase/migrations/20260225113000_user_onboarding_owner_rls.sql
Due: eslint --fix

fix the log in flow
  important-files.txt
  pages/api/auth/set-session.ts
  pages/login/email.tsx
  project_files_dump.txt
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,scss}
