Repository shoaibmiaan/Gramor_X: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,app,server}/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,css,scss}": ["prettier --write"]
}

update the verify page
  pages/auth/callback.tsx
  pages/signup/verify.tsx
Due: eslint --fix

update the verify page
  .history/pages/auth/callback_20251007032512.tsx
  .history/pages/signup/verify_20251007024948.tsx
  .history/pages/signup/verify_20251007024949.tsx
  .history/pages/signup/verify_20251007030413.tsx
  .history/pages/signup/verify_20251007030711.tsx
  .history/pages/signup/verify_20251007030712.tsx
  .history/pages/signup/verify_20251007030818.tsx
  .history/pages/signup/verify_20251007030819.tsx
  .history/pages/signup/verify_20251007031016.tsx
  .history/pages/signup/verify_20251007031017.tsx
  .history/pages/signup/verify_20251007031033.tsx
  .history/pages/signup/verify_20251007031039.tsx
  .history/pages/signup/verify_20251007031141.tsx
Due: none

further upddate
  pages/auth/callback.tsx
Due: eslint --fix

further upddate
  .history/pages/auth/callback_20251007040513.tsx
  .history/pages/auth/callback_20251007040540.tsx
  .history/pages/auth/callback_20251007040541.tsx
Due: none

Fix Supabase session API fallback
  pages/api/auth/set-session.ts
  tests/api/auth/set-session.test.ts
Due: eslint --fix

Improve Supabase session fallback handling
  pages/api/auth/set-session.ts
  tests/api/auth/set-session.test.ts
Due: eslint --fix

Fix Supabase session API fallback (#60)
  pages/api/auth/set-session.ts
  tests/api/auth/set-session.test.ts
Due: eslint --fix

Harden Supabase session bridge fallback
  pages/api/auth/set-session.ts
  tests/api/auth/set-session.test.ts
Due: eslint --fix

Add authentication inconsistency review
  docs/auth-review.md
Due: prettier --write

Add authentication inconsistency review (#62)
  docs/auth-review.md
Due: prettier --write

Add backlog tasks for roadmap improvements
  docs/planning/backlog.csv
Due: none

Harden Supabase session bridge fallback (#61)
  pages/api/auth/set-session.ts
  tests/api/auth/set-session.test.ts
Due: eslint --fix

Add backlog tasks for roadmap improvements (#63)
  docs/planning/backlog.csv
Due: none

Align tokens and supabase types for initial improvements
  components/challenge/Leaderboard.tsx
  components/dashboard/SavedItems.tsx
  components/design-system/Checkbox.tsx
  components/design-system/Input.tsx
  components/design-system/Select.tsx
  components/reading/QuestionBlock.tsx
  components/reading/QuestionNav.tsx
  components/reading/ReadingStatsCard.tsx
  components/sections/Learning/CourseCatalog.tsx
  components/teacher/CohortTable.tsx
  components/visa/GapToGoal.tsx
  components/visa/TargetScoreForm.tsx
  lib/gamification/index.ts
  pages/admin/reviews/[attemptId].tsx
  pages/admin/reviews/index.tsx
  pages/admin/users.tsx
  pages/cert/[id].tsx
  pages/community/index.tsx
  pages/community/questions.tsx
  pages/community/review/index.tsx
  pages/dashboard/index.tsx
  pages/learning/[slug].tsx
  pages/learning/strategies/index.tsx
  pages/listening/[slug].tsx
  pages/reading/[slug].tsx
  pages/reading/index.tsx
  pages/reading/review/[attemptId].tsx
  pages/reading/stats.tsx
  pages/settings/index.tsx
  pages/speaking/attempts/index.tsx
  pages/speaking/practice.tsx
  pages/speaking/simulator/part2.tsx
  pages/speaking/simulator/part3.tsx
  pages/teacher/cohorts/[id].tsx
  styles/globals.css
Due: eslint --fix, prettier --write

Align tokens and supabase types for initial improvements (#64)
  components/challenge/Leaderboard.tsx
  components/dashboard/SavedItems.tsx
  components/design-system/Checkbox.tsx
  components/design-system/Input.tsx
  components/design-system/Select.tsx
  components/reading/QuestionBlock.tsx
  components/reading/QuestionNav.tsx
  components/reading/ReadingStatsCard.tsx
  components/sections/Learning/CourseCatalog.tsx
  components/teacher/CohortTable.tsx
  components/visa/GapToGoal.tsx
  components/visa/TargetScoreForm.tsx
  lib/gamification/index.ts
  pages/admin/reviews/[attemptId].tsx
  pages/admin/reviews/index.tsx
  pages/admin/users.tsx
  pages/cert/[id].tsx
  pages/community/index.tsx
  pages/community/questions.tsx
  pages/community/review/index.tsx
  pages/dashboard/index.tsx
  pages/learning/[slug].tsx
  pages/learning/strategies/index.tsx
  pages/listening/[slug].tsx
  pages/reading/[slug].tsx
  pages/reading/index.tsx
  pages/reading/review/[attemptId].tsx
  pages/reading/stats.tsx
  pages/settings/index.tsx
  pages/speaking/attempts/index.tsx
  pages/speaking/practice.tsx
  pages/speaking/simulator/part2.tsx
  pages/speaking/simulator/part3.tsx
  pages/teacher/cohorts/[id].tsx
  styles/globals.css
Due: eslint --fix, prettier --write

Unify browser Supabase client
  lib/supabaseBrowser.ts
  lib/supabaseClient.ts
  pages/signup/email.tsx
Due: eslint --fix

Unify browser Supabase client (#65)
  lib/supabaseBrowser.ts
  lib/supabaseClient.ts
  pages/signup/email.tsx
Due: eslint --fix

Fix email login redirect and logging
  lib/supabaseBrowser.ts
  lib/supabaseClient.ts
  pages/login/email.tsx
  pages/signup/email.tsx
Due: eslint --fix

Fix email login redirect and logging (#66)
  pages/login/email.tsx
Due: eslint --fix

Polish key support pages with design-system patterns
  pages/403.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/accessibility.tsx
  pages/account/billing.tsx
Due: eslint --fix

Polish key support pages with design-system patterns (#67)
  pages/403.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/accessibility.tsx
  pages/account/billing.tsx
Due: eslint --fix

Document known install and dependency issues
  docs/maintenance-notes.md
Due: prettier --write

Document known install and dependency issues (#68)
  docs/maintenance-notes.md
Due: prettier --write

Ensure login options render even when session redirect fails
  components/auth/AuthOptions.tsx
Due: eslint --fix

Ensure login options render even when session redirect fails (#69)
  components/auth/AuthOptions.tsx
Due: eslint --fix

Show header when authenticated user visits auth routes
  pages/_app.tsx
Due: eslint --fix
